
html {
    height: 100%;
}
body {
    margin: 0px;
    padding: 0px;
    margin-left:auto;
    margin-right:auto;
    max-width: 22cm;
    background-color: #a0a0a0;
    height: 100%;
}
#top {
    background-color: #00304A;
    padding: 0px 10px 0px 10px;
    color: #f0f0f0;
    padding-bottom: 4px;
}
#middle {
    padding: 30px;
    padding-left: 30px;
    background-color: #ffffff;
    min-height: 100%;
}
#headerntools {
    width: 100%;
}
#header {
    font-size: 20pt;
}
#toolbar {
}
.topselect {
    display: inline-block;
}
#courseselect {
    width: 60%;
}
#serviceselect {
    width: 38%;
}
.section {
    padding: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eeeeee;
    border: 2px solid;
    border-color: white lightgray lightgray white;
}
h1 {
    text-align: center;
    margin: 20px;
}


/*perustietojen tyylit*/
.perustietorivi{
    margin-bottom: 10px;
}
.perustietosarake {
    display: inline-block;
    width: 230px;
}
.perustieto-otsake {
    display:inline-block;
    width: 120px;
}
.perustieto-input {
    display:inline-block;
    width: 50px;
}
.center {
    margin-left:auto;
    margin-right:auto;
}
.perustietosection {
    padding: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #F0EFD5;
    border: 5px solid;
    border-color: lightgray white white lightgray;
}
/*pisterajojen tyylit*/
.minmax {
    display: inline-block;
}
.mminput {
    width: 45px;
    text-align: center;
}
.index {
    display: inline-block;
    position: relative;
    bottom: 18px;
    left: 2px;
    font-weight: bold;
    width: 20px;
}
.minmaxbox {
    display: inline-block;
    padding: 3px;
}
.legend {
    background-color: lightgray;
    border: 1px solid gray;
    padding: 10px;
}
.legendcontainer {
    width: 100%;
    text-align: center;
}

/*Osallistujatietojen tyylit*/
.nimiTextbox
{
    width: 150px;
}

.ryhmaSelect
{
    width: 100px;
}

.opTextbox
{
    width: 140px;
}

.toimintoTextbox
{
    width: 310px;
}

#OsallistujaTiedotVinkki
{
    height: 15pt;
    font-size: 12pt;
    text-align: center;
}

.pisteTextbox
{
    width: 50px;
}

.kieliSelectbox
{
    width: 70px;
}
#osallistujatietoTable
{
    width:100%;
}

#osallistujatietoTable th
{
    color: #292929;
}
#osallistujatietoTable th:hover
{
    color: #292929;
}
#osallistujatietoTable td
{
    text-align: center;
    vertical-align: middle;
    height: 40px;
    color: #464646;
    border:1px solid #cecece;
}

#osallistujatietoTable caption
{
    text-align: left;
    font-size: 20pt;
}

#osallistujatietoTable tt
{
    font-size: 11pt;
}

#osallistujatietoTable a
{
    font-weight: bold;
}

#osallistujatietoTable tr:nth-child(odd) td { background-color:#f0f0f0}
#osallistujatietoTable tr:nth-child(even) td { background-color:#ffffff}
#osallistujatietoTable tr:hover td { background-color:#fffbae; }

.lisaaRyhmaanSelect
{
    width:150px;
}

.vaihdaRyhmaSelect
{
    width: 75px;
}

.centerText
{
    vertical-align: middle;
    text-align: center;
}
