#if (!$inc_noheader)
#if ($selectedCourse.isFrozen())
#if ($inc_changes)
HELSINGIN YLIOPISTO                                      Korjauksia
#else
HELSINGIN YLIOPISTO
#end
#else
HELSINGIN YLIOPISTO                                      TKTL-KurKi
#end
Matemaattis-luonnontieteellinen tiedekunta
Tietojenkäsittelytieteen laitos

#set ($newc = $selectedCourse.NewCredits)
#set  ($newcm = $selectedCourse.NewCreditsMax)
#set ($oldc =$selectedCourse.Credits)
#set ($oldcm =$selectedCourse.CreditsMax)
Opintojakso:    $selectedCourse.CCode, $selectedCourse.Label
Laajuus:        $newc #if($newc!=$newcm)- $newcm #end op ##---poistettu---($oldc #if($oldc!=$oldcm)-$oldcm #end ov )
Suoritusaika:   $selectedCourse.ExamDate
Hyväksyjä:      $selectedCourse.DonName
#end
#set ($selectDesc = $selectedCourse.SelectDescription)
#set ($parts = $selectedCourse.PartsOrdered)
#set ($partlh = $parts.get(0))
#set ($partht = $parts.get(1))
#set ($partkoe = $parts.get(2))
#set ($grades = ["1", "2", "3", "4", "5"])
#set ($counter = $selectedCourse.getCounter())
#set ($c = $selectedCourse)
#set ($nl = 25)
#set ($ssnl = 12) 
#set ($snol = 12)
#set ($accepted = "")
#set ($acceptcount = 0)
#set ($failed = "")
#set ($failcount = 0)
#set ($participInExam = 0)
#if ($inc_ssn)#set ($accepted = "${accepted}${c.getStr('', $ssnl)} ")#end
#if ($inc_sno)#set ($accepted = "${accepted}${c.getStr('', $snol)} ")#end
#if ($inc_name)#set ($accepted = "${accepted}${c.getStr('', $nl)}  ")#end
#if ($selectDesc)

Valitut opiskelijat: ${selectDesc}
#end
##
################### OTSAKKEET ###################
##
#if ($inc_htsep && $partht)#set ($inc_htsepname = $c.getStr($inc_htsepname, $c.multiply($c.negation($partht.NbrOfOfferings), 3)))#set ($accepted = "${accepted}${inc_htsepname} ")#end
#if ($inc_koesep && $partkoe)#set ($inc_koesepname = $c.getStr($inc_koesepname, $c.multiply($c.negation($partkoe.NbrOfOfferings), 3)))#set ($accepted = "${accepted}${inc_koesepname} ")#end
#if ($inc_lhsum && $partlh)#set ($inc_lhsumname = ${c.getStr(${inc_lhsumname}, -3)})#set ($accepted = "${accepted}${inc_lhsumname} ")#end
#if ($inc_htsum && $partht)#set ($inc_htsumname = ${c.getStr(${inc_htsumname}, -3)})#set ($accepted = "${accepted}${inc_htsumname} ")#end
#if ($inc_koesum && $partkoe)#set ($inc_koesumname = ${c.getStr(${inc_koesumname}, -3)})#set ($accepted = "${accepted}${inc_koesumname} ")#end
#if ($inc_lhlp && $partlh)#set ($inc_lhlpname = ${c.getStr(${inc_lhlpname}, -2)})#set ($accepted = "${accepted}${inc_lhlpname} ")#end
#if ($inc_htlp && $partht)#set ($inc_htlpname = ${c.getStr(${inc_htlpname}, -2)})#set ($accepted = "${accepted}${inc_htlpname} ")#end
#if ($inc_sum)#set($inc_sumname = ${c.getStr(${inc_sumname}, -4)})#set ($accepted = "${accepted}${inc_sumname} ")#end
#if ($inc_crunits)#set ($inc_cruname = ${c.getStr(${inc_cruname},-2)})#set ($accepted = "${accepted}${inc_cruname} ")#end
#if ($inc_lang)#set ($inc_langname= ${c.getStr(${inc_langname},-3)})#set ($accepted = "${accepted}${inc_langname} ")#end
#set ($failed = $accepted)
#if ($inc_grade)#set ($inc_gradename = ${c.getStr(${inc_gradename}, -2)})#set ($accepted = "${accepted}${inc_gradename} ")#end
##
################### OPISKELIJAT ###################
##
#foreach ($student in $students)
#set ($row = "")##--------- Yhden opiskelijan tiedot -----------##
#if ($student.Grade)##---------- Onko osallistunut kurssille --> jos on, niin on myös arvosteltu -----------##
#set ($grade = $student.Grade)
#set ($stunew =$student.CreditsNew)
 ## ---- poistettu set ($stuold =$student.CreditsOld)
#set ($creditunits ="$stunew")
#if ($inc_ssn)#set ($row = "$row${c.getStr($student.SSN, $ssnl)} ")#end
#if ($inc_sno)#set ($row = "$row${c.getStr($student.SNO, $snol)} ")#end
#if ($inc_name)#set ($row = "$row${c.getStr($student.Name, $nl)} ")#end
#if ($inc_htsep && $partht)#set ($row = "$row${c.getStr($!c.getStrTable($student.getScores(1), ' 0', ' '), $inc_htsepname.length())} ")#end
#if ($inc_koesep && $partkoe)#set ($row = "$row${c.getStr($!c.getStrTable($student.getScores(2), ' 0', ' '), $inc_koesepname.length())} ")#end
#if ($inc_lhsum && $partlh)#set ($row = "$row${c.getStr(${c.getStrTableCell($!student.getScore( $partlh ), '  0')}, $inc_lhsumname.length())} ")#end
#if ($inc_htsum && $partht)#set ($row = "$row${c.getStr(${c.getStrTableCell($!student.getScore( $partht ), '  0')}, $inc_htsumname.length())} ")#end 
#if ($inc_koesum && $partkoe)#set ($row = "$row${c.getStr(${c.getStrTableCell($!student.getScore( $partkoe ), '  0')}, $inc_koesumname.length())} ")#end
#if ($inc_lhlp && $partlh)#set ($row = "$row${c.getStr(${c.getStrTableCell($student.getXtrScore( $partlh ), ' 0')}, $inc_lhlpname.length())} ")#end
#if ($inc_htlp && $partht)#set ($row = "$row${c.getStr(${c.getStrTableCell($student.getXtrScore( $partht ), ' 0')}, $inc_htlpname.length())} ")#end
#if ($inc_sum)#set ($row = "$row${c.getStr(${c.getStrTableCell($!{student.getXtrTotal()}, '  0')}, $inc_sumname.length())} ")#end
#if ($inc_crunits)#set ($row = "$row ${c.getStr(${creditunits},$inc_cruname.length())}")#end
#if ($inc_lang)#set ($row = "$row ${c.getStr($student.getLanguage(),$inc_langname.length())}")#end
#if ($inc_grade && $grade != "0")#set ($row = "$row ${c.getStr(${grade}, $inc_gradename.length())}")#end
##
##--------- Opiskelija lisätty jäädytyksen jälkeen -----------##
##
#if ($c.isFrozen() && $inc_changes && $student.isNew())
#set ($row = "$row U")
#end
##
##--------- opiskelija läpäissyt kurssin -------------##
##
#if ($grade && $grade != "0")
#set ($acceptcount = $acceptcount + 1)
#set ($foo = $!counter.entry(${grade}))
#if (!$inc_changes || ($inc_changes && !$student.isFrozen()))##-------- Näytetäänkö vain muutokset? ----------##
#set ($accepted = "$accepted${c.nl()}${row}")
#if ($acceptcount % 5 == 0)
#set ($accepted = "$accepted${c.nl()}")
#end
#end
##
##--------- opiskelija hylätty -------------##
##
#else
#set ($failcount = $failcount + 1)
#if (!$inc_changes || ($inc_changes && !$student.isFrozen()))##-------- Näytetäänkö vain muutokset? ----------##
#set ($failed = "$failed${c.nl()}${row}")
#if ($failcount % 5 == 0)
#set ($failed = "$failed${c.nl()}")
#end
#end
#end
#if($student.getValidScoreCount(2) > 0)
#set($participInExam = $participInExam + 1)
#end
#elseif ($student.isDefrost())##--------- POISTETTU? ------##
#if ($inc_ssn)#set ($row = "${row}${c.getStr($student.SSN, $ssnl)} ")#end
#set ($row = "${row}${student.Name}")
#if (!$removed) #set ($removed = "")#end
#set ($removed = "${removed}${c.nl()}${row}")
#end##--if ($student.Grade)
#end##--foreach
#if ($inc_accepted)


HYVÄKSYTYT
$accepted
#end
#if ($inc_statistics)
#set ($participated = ${acceptcount} + ${failcount})


TILASTOJA
  Ilmoittautuneita: ${students.size()}
  Osallistuneita:   ${participated}
  Kokeessa:         ${participInExam}
  Hyväksyttyjä:     ${acceptcount} 
	(#if (${participated} > 0) ${c.percent(${acceptcount}, ${participated})}% osallistuneista,#end 
	 #if (${participInExam} > 0) ${c.percent(${acceptcount}, ${participInExam})}% kokeessa olleista#end)
  Hylättyjä:        ${failcount}
#end
#if ($inc_gradeDistr)


Arvosanajakauma
#set ($gradeDistr = "") 
#foreach ($grade in $grades)
#set ($gcount = $counter.getCount($grade))
#set ($tmp = "") 
#set ($tmp = "  $c.getStr(${grade}, 2): $c.getStr($gcount, 3) ")
#if ($gcount > 0)
#if ($gcount > 60)
#set ($gcount = 60)
#end
#foreach ($i in [1..$gcount])
#set ($tmp = "${tmp}*")
#end
#if ($gcount == 60)
#set ($tmp = "${tmp}...")
#end
#end
#set ($gradeDistr = "${tmp}${c.nl()}$gradeDistr")
#end$gradeDistr#end
#if ($inc_feedback)


Palautetilaisuus __.__ klo __:__ - __:__ huoneessa ____.
#end
#if ($inc_signature) 




Helsingissä ${sysdate}
                       ___________________________
                        ${c.DonFName} ${c.DonLName}
#end
#if ($inc_failed)


HYLÄTYT
$failed
#end
#if ($inc_changes && $removed)


POISTETUT
${removed}
#end
