<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
#set ($bgcolorDef = "#EEEEEE") ## isojen taulukkojen joka toisen rivin taustav‰ri
#if ($selectedCourse)
  #set ($frozen = $selectedCourse.isFrozen())
#end
<html>
  <head>
    <title>KURKI</title>
    <link rel="stylesheet" href="../kurki.css" title="kurki">
    <script language='JavaScript' type='text/javascript' src='../kurki.js'></script>

#if ($autosave)
  #if (!$asToggle)
    #set ($asToggle = "on")
  #end
  #if (!$sessionLen)
    #set ($sessionLen = 3600)
  #end
  #set ($sessionLen = $sessionLen-60)

    <script language='JavaScript' type='text/javascript'>
<!--
#if ($asToggle == "on")
var as = true;
#else
var as = false;
#end
var noas = false;
var intervalId = null;
var isIENN = true;

var asAlert = 
"<html>\n<head><title>Kurki: automaattinen v‰litallennus</title></head>\n"
+"<body bgcolor='white' onLoad=\"setTimeout('self.close()', 14000);\">\n"
+"<center>\n<h2>Kurki:</h2>\n<h3>Automaattinen v‰litallennus aktivoituu 15s kuluttua.</h3>\n"
+"<form action='.' onSubmit='return false;'>\n"
+"<input type='button' value='  OK  ' onClick='javascript:self.close()' class='button'>\n"
+"</form>\n(T‰m‰ ikkuna sulkeutuu itsest‰‰n.)\n</center>\n</body>\n</html>";

if (navigator.appName == "Konqueror") {
  isIENN = false;
}

function autosave() {
  if (${autosave} != null) {
    intervalId = setInterval("delayedSave()", 560000);
    setTimeout("disableAutosave()", ${sessionLen}*1000);
  } else {
    disableAutosave();
  }
}

function delayedSave() {
  if (as && document.modifyWatch.modCount.value > "0") {
    setTimeout("save()", 15000);
	
    if (isIENN) {
      var aswin = window.open("about:blank", "aswin","toolbar=no,menubar=no,location=no,scrollbars=no,resizable=no,width=300,height=200");
      aswin.document.open("text/html");
      aswin.document.writeln(asAlert);
      aswin.document.close();
    } else {
      window.open("../asNotify.html", "V‰litallennus ilmoitus", 
	"toolbar=no,menubar=no,location=no,scrollbars=no,resizable=no,width=300,height=200");
    }
  }
}

function save() {
  if (as && document.modifyWatch.modCount.value > "0") {
    if (${autosave}.asNotify) ${autosave}.asNotify.value = "AS";
    ${autosave}.submit();
  }
}

function toggleAutosave() {
  if (noas) {
    alert("Istuntosi on vanhentunut.\nTallennus ei ole mahdollista.");
  }
  else if (as) {
    as = false;
    ${autosave}.asToggle.value="off";
  }
  else {
    as = true;
    ${autosave}.asToggle.value="on";
  }
}

function disableAutosave() {
    noas = true;
    alert("Istuntosi on vanhentunut.\nTallennus ei ole mahdollista.");
    clearInterval(intervalId);
    if (${autosave} != null && ${autosave}.asNotify != null) { ${autosave}.asNotify.value = ""; }
}
//-->
    </script>
#end
  </head>

#if ($autosave)  
  <body onLoad="autosave()">
#else
  <body>
#end
    <center>
      <table class="frame" width="90%" align="center" border="0" cellspacing="0" cellpadding="5">
      <tr>
          <td align="left" width="10%" nowrap>
            <a href="logout">Kirjaudu ulos</a>
          </td>
          <td colspan="2" align="center">
            <h1>KURKI 1.3</h1>
          </td>
          <td align="right" width="10%" nowrap>
            <a href="logout">Kirjaudu ulos</a>
          </td>
        </tr>

<!--
<tr><td colspan="4"><div class="warning"><center>
KurKi p‰ivitet‰‰n t‰n‰‰n (pp.kk.) klo hh:mm - hh.mm. 
P‰ivityksen aikana KurKi ei toimi.
</center></div></td></tr>
-->
<tr><td colspan="4"><div class="warning"><center>
KurKi-j‰rjestelm‰n p‰ivitys kesken. Al‰ k‰yt‰!
</center></div></td></tr>    
	
	<tr class="navi1">
	  <td colspan="2">
	    <form name="navi" action="index" method="post">
	      <table border="0" cellspacing="0" cellpadding="0" align="left" style="text-align:left;">
		<tr>
		  <td>
##
## T‰h‰n kaikki kurssit, joilla k‰ytt‰j‰ ohjaajana
##
#if ($courseInfos)
                    <label for="course" accesskey="C"></label>
		    <select name="course" id="course" 
			    onChange="!isModified() && document.navi.submit();"
			    tabindex="32700">
  #if (!$services)
		      <option value="">-- valitse kurssi --</a>
  #end

  #foreach ($course in $courseInfos)
    #if ($course.isFrozen())
      #set ($clabel = "* $course.label *")
    #else 
      #set ($clabel = $course.label)
    #end
    #if ($selectedCourse && $course.value == $selectedCourse.courseInfo.value)
		      <option value="$course.value" selected>$clabel</option>
    #else
		      <option value="$course.value">$clabel</option>
    #end
  #end
		    </select>
#else
                    <b>EI AVOIMIA KURSSEJA</b>
#end
		  </td>
		  <td>
##
## T‰h‰n kaikki sallitut toiminnot
##
#if ($services)
                    <label for="service" accesskey="A"></label>
		    <select name="service" id="service"
			    onChange="!isModified() && document.navi.submit();"
			    tabindex="32701">

  #if (!$selectedService.value || !$selectedService.value)
		      <option value="" selected>-- valitse toiminto --</option>
  #end
  #set ($serviceNo = 1) 
  #foreach ($service in $services)

    #if ($selectedService && $service.value == $selectedService.value)
		      <option value="$service.value" selected>${serviceNo}. $service.label</option>
    #else
		      <option value="$service.value">${serviceNo}. $service.label</option>
    #end
    #set ($serviceNo = $serviceNo + 1) 
  #end
		    </select>
#else
		    &nbsp;
#end
		  </td>
		</tr>
	      </table>
	    </form>
	  </td>
          <td colspan="2" nowrap>
  <form name="modifyWatch" action="index" onSubmit="return false" method="post">
    <input type="hidden" name="modCount" value="0">
  </form>

#if ($autosave)
  <form action="index" style="background-color:white;color:black;margin:0;display:inline;" class="inline" name="as" onSubmit="return false" method="post">
  #if ($asToggle == "on")
    <input type="checkbox" id="toggle" name="toggle" onClick="toggleAutosave();" checked>
  #else
    <input type="checkbox" id="toggle" name="toggle" onClick="toggleAutosave();">
  #end
    <label for="toggle" accesskey="v">
    <b>Autom. <u>v</u>‰litallennus</b>
    </label>
  </form>
#else
   &nbsp;
#end
	  </td>
	</tr>
