	<tr>
	  <td colspan="4">

#if ( $error && $error != "" )
  <div class="error">
    $error
  </div>
#end 
#if ( $result && $result != "" )
  <div class="result">
    $result
  </div>
#end

#if ($students)
<form action="index" name="return" method="post">
<table class="normal" border="1" width="100%">
  <caption>
   Opiskelijoita valittu ${students.size()}
  </caption>
  <tr>
    <th>
      Nimi
    </th>
    <th>
#if ($useSNO)
     Hetu
#else
     OpNro
#end
    </th>
    <th>
      <i>Ryhmä</i>
    </th>
    <th>
      Palauta kurssille
    </th>
  </tr>
  #set ($sid = 0)
  #set ($rowcount = 0)
  #foreach ( $student in $students )
    #if ($rowcount % 2 == 1)
      #set ($bgcolor = $bgcolorDef)
    #else
      #set ($bgcolor = "#FFFFFF")
    #end
    #set ($rowcount = $rowcount + 1)
  <tr>
    <td bgcolor="${bgcolor}" nowrap>
      <b><a href="mailto:$!{student.EMail}">$!{student.label}</a></b>
    </td>
    <td bgcolor="${bgcolor}" nowrap>
    #if ($useSNO)
      <center><tt>$!{student.SNO}</tt>
    #else
      <center><tt>$!{student.SSN}</tt>
    #end
    </td>
    <td bgcolor="${bgcolor}">
      <center>${student.Group}</center>
    </td>
    <td bgcolor="${bgcolor}" nowrap>
      <center><input type="checkbox" name="rtn_${sid}"></center>
    </td>
  </tr>    
    #set ($sid = $sid + 1)
  #end
  #if ($sid > 0 )
  <tr>
    <th colspan="4">
      <input type="hidden" name="TS" value="${TS}">
      <center><input type="submit" class="submitb" name="doReturn" value="------> PALAUTA <------"></center>
    </th>
  </tr>
  #end
</table>
</form>
#else 
Yksikään opiskelija ei vastannut hakuehtoa.
#end
	  </td>
        </tr>
