

#if($Tuloslistat.arvosanajakauma.active)
    #set ($viisi = 0)
    #set ($nelja = 0)
    #set ($kolme = 0)
    #set ($kaksi = 0)
    #set ($yksi = 0)
    #foreach ($osallistuminen in $osallistumiset)
        #if ($osallistuminen.voimassa == "K")
            #if ($osallistuminen.arvosana == 5)
                #set ($viisi = $viisi+1)
            #end
            #if ($osallistuminen.arvosana == 4)
                #set ($nelja = $nelja+1)
            #end
            #if ($osallistuminen.arvosana == 3)
                #set ($kolme = $kolme+1)
            #end
            #if ($osallistuminen.arvosana == 2)
                #set ($kaksi = $kaksi+1)
            #end
            #if ($osallistuminen.arvosana == 1)
                #set ($yksi = $yksi+1)
            #end
        #end
    #end    
    
    <p>
        <h5>$bundle.getString("arvosanajakauma")</h5>
        <table border="0" style="font-size: 90%;width: auto;">
        <tr><td>5: $viisi </td><td> #if ($viisi > 0)#foreach ($i in [1..$viisi])*#end#end</td></tr>
        <tr><td>4: $nelja </td><td> #if ($nelja > 0)#foreach ($i in [1..$nelja])*#end#end</td></tr>
        <tr><td>3: $kolme </td><td> #if ($kolme > 0)#foreach ($i in [1..$kolme])*#end#end</td></tr> 
        <tr><td>2: $kaksi </td><td> #if ($kaksi > 0)#foreach ($i in [1..$kaksi])*#end#end</td></tr>
        <tr><td>1: $yksi </td><td> #if ($yksi > 0)#foreach ($i in [1..$yksi])*#end#end</td></tr>
        </table>
    </p>

#end 

#if($request.getParameter("inc_feedback") == "on")
    <p>$bundle.getString("palautetilaisuus") __.__ $bundle.getString("klo") __:__ - __:__ $bundle.getString("huoneessa") ____.</p>                
#end

#if($request.getParameter("inc_signature") == "on")
    <p><br>$bundle.getString("helsingissa") $date.get('d.M.yyyy')<br>
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;_____________________________<br>
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;$HenkiloKyselyt.haeNimet($valittuKurssi.omistaja)</p>                
#end