#set ($n = 10)
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title>$bundle.getString("kurkikirjanpito")</title>
</head>
<body bgcolor="white">
<h2>${selectedCourse.Label}: $studentFilterDesc
#if ($comment)
(${sysdate}: ${comment})
#else
(${sysdate})
#end
</h2>
<p>
<hr>
<table border="1" width="90%">
  <tr>
    <th width="170">Nimi</th>
#foreach ( $i in [1..$n] )
  #if ($i < 10 )
    <th width="15" nowrap>&nbsp;${i}</th>
  #else 
    <th width="15" nowrap>${i}</th>
  #end
#end
  </tr>
#set ($prevname = "")
#foreach ($student in $students)
  <tr>
  #if (${student.Label} == $prevname)
      <td>${student.Label} ($!{student.Birthday})</td>
  #else 
      <td>${student.Label}</td>
  #end
  #set ($prevname = ${student.Label})
  #foreach ( $i in [1..$n] )
    <td>&nbsp</td>
  #end
  </tr>
#end
</table>
</body>
</html>
