<html>
<body>
<pre>
#set($qs = $request.getQueryString())
#if($qs)
    #set($params = $queryparser.split($qs))
#end
$params.get('foo')

$piippu.kurssiTest()
$piippu.opiskelijaTest()
$piippu.henkiloTest()

</pre>
</body>
<html>
