#parse ("top.vm")
	<tr>
	  <td colspan="4">
  #if ($error && $error != "")
<div class="alert alert-danger">
  $error
</div>
  #end 
  #if ($result && $result != "")
<div class="result">
  $result
</div>
  #end
<div class="instr">
$bundle.getString("huom")
<ul>
  <li>$bundle.getString("javascript")
  </li>
  <li>$bundle.getString("evaste")
  </li>
  <li>$bundle.getString("indexinfo")
  </li>
  <li>$bundle.getString("ongelmatilanteet")
  </li>
  <li><a href="../paivitykset.html">$bundle.getString("paivitykset").
  </li>
</ul>
</div>
	  </td>
	</tr>
#parse ("bottom.vm")
