#parse("top.vm")

#if($request.getParameter('sulatettavaHetu')) 
    $OsallistujaMuutokset.sulataOpiskelija($valittuKurssi, $request.getParameter('sulatettavaHetu'), $request)
    #stop
#end

#set ($kerrat = {"laskarit" : $valittuKurssi.laskarikerta_lkm,
"ht" : $valittuKurssi.harjoitustyo_lkm,
"koe" : $valittuKurssi.valikokeet_lkm})

##Tässä määritellään pudotusvalikon valinnat
#set ($tyypit = {"laskarit" : $bundle.getString("Laskuharjoituspisteet"),
"ht" : $bundle.getString("Harjoitustyöpisteet"),
"koe" : $bundle.getString("Koepisteet"),
"arvosana" : $bundle.getString("Arvosana"),
"op" : $bundle.getString("Opintopisteet"),
"kieli" : $bundle.getString("Suorituskieli")})

##poistetaan kurssilla käyttämättömät osasuoritukset mapista
#if ($kerrat.get("laskarit") == 0)
    #set ($v = $tyypit.remove("laskarit"))
#end
#if ($kerrat.get("ht") == 0)
    #set ($v = $tyypit.remove("ht"))
#end
#if ($kerrat.get("koe") == 0)
    #set ($v = $tyypit.remove("koe"))
#end

<h1>$bundle.getString("1entry")</h1>

<form name="suoritteidenKirjaus" action="" method=get class="form-inline">
        <label for="type">$bundle.getString("tyyppi") <br>
            <select name="type" id="type" onChange="osasuorituskerrat(this.selectedIndex)" class="form-control form-inline" style="width:190px">
            #foreach($t in $tyypit.entrySet())
                #if($request.getParameter("type") == $t.key)
                    <option value=$t.key selected>$t.value</option>
                #else
                    <option value=$t.key>$t.value</option>
                #end
            #end
            </select>
        </label>

        <label for="kerta">$bundle.getString("kerta") <br>
            <select name="kerta" id="kerta" onClick="this.options[this.options.selectedIndex].value" class="form-control form-inline" style="width:70px">
            </select>
        </label>

    ##vaihdetaan kerta-valikkoa lennosta, kun osasuoritustyyppiä on vaihdettu
    <script type="text/javascript">
        var kerratlista=document.suoritteidenKirjaus.kerta

        var laskarit = "${kerrat.get("laskarit")}"
        var ht = "${kerrat.get("ht")}"
        var koe = "${kerrat.get("koe")}"

        var osaSuor=new Array()
        osaSuor[0] = [laskarit]
        osaSuor[1] = [ht]
        osaSuor[2] = [koe]

        var apuInt = 0
        var apuArray = new Array()
        var koko = "${tyypit.size()}"

        var kerrat=new Array()
        for (i=0; i<koko; i++){
            if (osaSuor[i] != 0) {
                for (a=0; a<osaSuor[i]; a++){
                    apuArray[a] = a+1
                }
                kerrat[apuInt]=apuArray
                var apuArray = new Array()
                apuInt++
            }
        }

        apuArray[1] = [99]

        function osasuorituskerrat(tyyppi){
            kerratlista.options.length=0
            for (i=0; i<kerrat[tyyppi].length; i++) {
                kerratlista.options[kerratlista.options.length]=new Option(kerrat[tyyppi][i]) 
            }
            kerratlista.disabled=false
            if (kerrat[tyyppi].length == 0) {
                kerratlista.disabled=true
            }
            kerratlista.selectedIndex=#if($request.getParameter("kerta"))$request.getParameter("kerta")-1#{else}0#end
        }
        window.onload = osasuorituskerrat(document.suoritteidenKirjaus.type.selectedIndex)
    </script>

    ##haetaan kurssin ryhmät, ja jätetään pois mystinen ryhmä "0"
    #set ($ryhmat = [])
    #if ($valittuKurssi)
        #foreach($r in $OpetusKyselyt.opetuksetKurssilla($valittuKurssi))
            #if ($r.ilmo_jnro != 0)
                #if ($ryhmat.add($r.ilmo_jnro)) #end
            #end
        #end
    #end

        <label for="ryhma">$bundle.getString("ryhma") <br>
            <select name="ryhma" id="ryhma" class="form-control form-inline" style="width:90px">
            <option value="" selected>$bundle.getString("kaikki")</option>
            #foreach($r in $ryhmat)
                #if($request.getParameter("ryhma") == $r)
                    <option value=$r selected>$r</option>
                #else
                    <option value=$r>$r</option>
                #end
            #end
            </select>
        </label>


        <label for="filterit">$bundle.getString("hakukriteerit") <br>
            <input id="filterit" value="#if($request.getParameter("filterit"))$request.getParameter("filterit")#end"
                type="text" class="form-control form-inline" style="width:200px" name="filterit"
                placeholder="$bundle.getString("hakukriteerit")">
        </label>

        <input type="hidden" value="pressed" name="button">

        <input type="submit" class="btn" value=">>>">
</form>

#if ($request.getParameter("button"))
    #parse ('suoritteet.vm')
#else
<div class="instr">
<b>$bundle.getString("valitsetyyppi")</b>
	    <dl>
	      <dt>$bundle.getString("tyhja")</dt>
  	        <dd>$bundle.getString("kaikkiopiskelijat")</dd>
	      <dt>$bundle.getString("numero")</dt>
	        <dd>$bundle.getString("opiskelijaopnro")</dd>
	      <dt>$bundle.getString("sukunimi")</dt>
	        <dd>$bundle.getString("opsukunimimerkki")</dd>
	      <dt>$bundle.getString("al")</dt>
	        <dd>$bundle.getString("sukunimiaakkos")</dd>
	      <dt>$bundle.getString("kriteerit")</dt>
	        <dd>$bundle.getString("useatkriteeritUusi")</dd>
	      <dt>$bundle.getString("meikalainen")</dt>
		<dd>$bundle.getString("pienetjaisot")</dd>
            </dl>
</div>
#end

##valittu $request.getParameter('lisääTähänNimi')

#parse("bottom.vm")