##Korvaa numero halutulla key:llä
#set ($tyypit = {1 : $bundle.getString("Harjoitustyöpisteet") , 2 : $bundle.getString("Koepisteet") ,
3 : $bundle.getString("Arvosana") , 4 : $bundle.getString("Opintopisteet") , 5 : $bundle.getString("Suorituskieli")})

<h3>$bundle.getString("1entry")</h3>

<form name="suoritteidenKirjaus" action="" method=get class="form-inline">

    <b>$bundle.getString("tyyppi"):</b>
    <select name="type" onChange="this.form.submit()" class="form-control form-inline" style="width:250px">
    #foreach($t in $tyypit.entrySet())
        #if($t.key == $params.get('type'))
        <option value=$t.key selected>$t.value</option>
        #else
        <option value=$t.key>$t.value</option>
        #end
    #end
    </select>
##valittu $params.get('type')

##Alustetaan mappi joka pitää sisällään laskarikerrat
    #set ($kerta = {"" : ""})

##tähän laskarikertojen haku ja lisäys kerta-mappiin !!!
##foreach($l in laskarikerrat)
##    #set ($kerta = {laskarikerta : laskarikerta})
##testitulosta
##end


    <b>$bundle.getString("kerta"):</b>
    <select name="kerta" onChange="this.form.submit()" class="form-control form-inline" style="width:100px">
    #foreach($k in $kerta.entrySet())
        #if($k.key == $params.get('kerta'))
        <option value=$k.key selected>$k.value</option>
        #else
        <option value=$k.key>$k.value</option>
        #end
    #end
    </select>
##valittu $params.get('type')

    <b>$bundle.getString("opiskelijat"):</b>
    <input type="text" class="form-control form-inline" style="width:150px" name="filter">

    <input type=submit class="btn" value=">>>" onClick=this.form.submit()">

</form>

##valittu $params.get('lisääTähänNimi')

</body>
<html>