#parse("top.vm")

##Filterit/parametrit
#if($request.getParameter('filterSukunimi'))
    $session.setAttribute("sukuFilter", $request.getParameter('filterSukunimi'))
#elseif(!$session.getAttribute("sukuFilter")) $session.setAttribute("sukuFilter", "") #end

#if($request.getParameter('filterRyhma'))
    $session.setAttribute("ryhmaFilter", $request.getParameter('filterRyhma'))
#elseif(!$session.getAttribute("ryhmaFilter")) $session.setAttribute("sukuFilter", "") #end

#if($request.getParameter('filterHetu'))
    $session.setAttribute("hetuFilter", $request.getParameter('filterHetu'))
#elseif(!$session.getAttribute("hetuFilter")) $session.setAttribute("hetuFilter", "") #end

#set($hetuFilter = $session.getAttribute("hetuFilter"))
#set($sukuFilter = $session.getAttribute("sukuFilter"))
#set($ryhmaFilter = $session.getAttribute("ryhmaFilter"))
#set($toiminto = $request.getParameter('toiminto'))

##haetaan kurssin ryhmät, ja jätetään pois mystinen ryhmä "0"
##lisätään tulostus muuttujaan 'var' jota ei käytetä missään, 
##muuten velocity haluaa tulostaa "true" kun listaan lisäys on onnistunut
#set ($ryhmat = [])
#foreach($ryhmanro in $OpetusKyselyt.opetuksetKurssilla($valittuKurssi))
    #if ($ryhmanro.ilmo_jnro != 0)
        #set ($var = $ryhmat.add($ryhmanro.ilmo_jnro))
    #end
#end

##Valikko ohjaa toiminnot toisiin tiedostoihin
#set ($toiminnot = {
    "osallistujat_listaus.vm" : $bundle.getString("tiedot") ,
    "osallistujat_lisaa.vm" : $bundle.getString("haelisatop") ,
    "osallistujat_palaut.vm" : $bundle.getString("haepalop")})


<h1>$bundle.getString("2participants")</h1>

<form name="osallistujatiedot" action="" method=get class="form-inline">
  
    <label for="isosnimi">
        $bundle.getString("isosnimi") <br>
        <input type="text" class="form-control form-inline nimiTextbox"
               placeholder="$bundle.getString("isosnimi")"
               name="filterSukunimi"
               value="$sukuFilter" >
    </label>

    <label for="ryhma">$bundle.getString("ryhma") <br>
        <select name="filterRyhma" class="form-control form-inline ryhmaSelectbox">
            <option value="" selected>$bundle.getString("kaikki")</option>
                #foreach($ryhma in $ryhmat)
                    <option #if($ryhmaFilter && $ryhma==$ryhmaFilter)selected#end value="$ryhma">$ryhma</option>
                #end
        </select>
    </label>

    <label for="opnro">$bundle.getString("camelopnro") <br>
        <input type="text" class="form-control form-inline opTextbox" 
            placeholder="$bundle.getString("opnro")"
            name="filterHetu" value="$hetuFilter">
    </label>

    <label for="toiminto">$bundle.getString("toiminto") <br>
        <select name="toiminto" class="form-control form-inline toimintoTextbox">
        #foreach($t in $toiminnot.entrySet())
            #if($t.key == $toiminto)
                <option value=$t.key selected>$t.value</option>
            #else
                <option value=$t.key>$t.value</option>
            #end
        #end
        </select>
    </label>

    <input type=submit class="btn" value=">>>">
</form>


#if($request.getParameter("hetuParam")) ##tiedot  
    #parse ("osallistuja_tiedot.vm")
#elseif($toiminto)
    #parse ($toiminto)
#else 
    $bundle.getString("ophakuperuste")
    <p>$bundle.getString("opiskelijanumerofilterOhje")</p>
    <p>$bundle.getString("KurssitunnusParam") <tt> courseId=$session.getAttribute("selected_course_id") </tt> </p>
#end

#parse("bottom.vm")