#parse("hello.vm")

##Filterit/parametrit
#set($sukuFilter = $request.getParameter('filterSukunimi'))
#set($ryhmaFilter = $request.getParameter('filterRyhma'))
#set($hetuFilter = $request.getParameter('filterOpnro'))
#set($toiminto = $request.getParameter('toiminto'))
#if($onkoJaassa) #set($vainLuku="readonly") #else #set($vainLuku="") #end

##haetaan kurssin ryhmät, ja jätetään pois mystinen ryhmä "0"
##lisätään tulostus muuttujaan 'var' jota ei käytetä missään, muuten velocity haluaa tulostaa "true" kun listaan lisäys on onnistunut
#set ($ryhmat = [])
#foreach($ryhmanro in $OpetusKyselyt.opetuksetKurssilla($valittuKurssi))
    #if ($ryhmanro.ilmo_jnro != 0)
        #set ($var = $ryhmat.add($ryhmanro.ilmo_jnro))
    #end
#end

##Valikko ohjaa toiminnot toisiin tiedostoihin
#set ($toiminnot = {
    "osallistujat_listaus.vm" : $bundle.getString("tiedot") ,
    "osallistujat_lisaa.vm" : $bundle.getString("haelisatop") ,
    "osallistujat_palaut.vm" : $bundle.getString("haepalop")})


<h1>$bundle.getString("2participants")</h1>

<form name="osallistujatiedot" action="" method=get class="form-inline">
  
    <b>$bundle.getString("isosnimi"):</b>
    <input type="text" class="form-control form-inline" style="width:150px"
            name="filterSukunimi" #if($sukuFilter && !$sukuFilter.equals(""))value=$sukuFilter#end>

    #if(!$toiminto.equals("osallistujat_lisaa.vm")) ##ei näytetä ryhmää opiskelijoita lisättäessä
      <b>$bundle.getString("ryhma"):</b>
      <select name="filterRyhma" class="form-control form-inline" style="width:100px">
      <option value="" selected>Kaikki</option>
        #foreach($ryhma in $ryhmat)
             <option #if($ryhmaFilter && $ryhma==$ryhmaFilter)selected#end value=$ryhma>$ryhma</option>
        #end
      </select>
      #else <input type=hidden name="filterRyhma" value="">
    #end

    <b>$bundle.getString("camelopnro"):</b>
    <input type="text" class="form-control form-inline" style="width:150px" 
        name="filterOpnro" #if($hetuFilter && !$hetuFilter.equals(""))value=$hetuFilter#end>


    <select name="toiminto" class="form-control form-inline" style="width:350px">
     #foreach($t in $toiminnot.entrySet())
        #if($t.key == $toiminto)
          <option value=$t.key selected>$t.value</option>
        #else
          <option value=$t.key>$t.value</option>
        #end
      #end
    </select>

    <input type=submit class="btn" value=">>>">
</form>


#if($request.getParameter("hetuParam")) ##tiedot  
    #parse ("osallistuja_tiedot.vm")
    <br>

#elseif($toiminto)
    #parse ($toiminto)
#end

#parse("bottom.vm")