#set($valittuKurssi = $session.getAttribute('selected_course'))

#if ($valittuKurssi.getTila() == "J")
    #set ($jaassa = true)
#else
    #set ($jaassa = false)
#end

<h3>$bundle.getString("3coursebasics")</h3>

#set($basics = {
    $bundle.getString("laskuharjoituksia") : 
        {"" : $valittuKurssi.harjoitustunnit, 
         $bundle.getString("jpakollisia") : $valittuKurssi.pakolliset_laskaritehtava_lkm, 
         $bundle.getString("lisapisteet") : $valittuKurssi.max_laskaripisteet
        },
    $bundle.getString("harjoitustoita") : 
        {"" : $valittuKurssi.harjoitustyo_lkm, 
         $bundle.getString("jpakollisia") : $valittuKurssi.pakolliset_harjoitustyo_lkm, 
         $bundle.getString("lisapisteet") : $valittuKurssi.harjoitustyopisteet
        },
    $bundle.getString("kokeita") : 
        {"" : $valittuKurssi.valikokeet_lkm, 
         $bundle.getString("jpakollisia") : $valittuKurssi.pakolliset_koe_lkm
        }
    }
)

<form name="kurssinPerustiedot" action="" method=get class="form-inline">
    #foreach($otsikko in $basics.keySet())
        $otsikko:
        #set($alaotsikot = $basics.get($otsikko))
        #foreach($alaotsikko in $alaotsikot.keySet())
                $alaotsikko
                  <input type="text" class="form-control" style="width:50px"
                      value="$alaotsikot.get($alaotsikko)" #if($jaassa) readonly #end></th>
        #end
        <br>
    #end
    <input type=button class="btn" value=$bundle.getString("tmuutokset") onClick="">
</form>

<form name="kurssinPisteet" action="" method=get class="form-inline">

#set($osasuoritusRajat = {
    $bundle.getString("laskuharjoituksia") : $valittuKurssi.LaskariRajat,
    $bundle.getString("harjoitustoita") : $valittuKurssi.HarjoitustyoRajat,
    $bundle.getString("kokeita") : $valittuKurssi.KoeRajat
    }
)
<table border="0">
#foreach($rajatyyppi in $osasuoritusRajat.keySet())
<tr>
    <th>$rajatyyppi:</th>
    #set ($i = 1) ##Laskija
    #set ($rajat = $osasuoritusRajat.get($rajatyyppi))
    #foreach($raja in $rajat)
    <th>
       $i:
       <th>
        <input type="text" class="form-control" style="width:50px" name="" maxlength="2"
        value="$raja.max" ##Maksimipisteet
        onBlur="rangecheck(this,0,18)"><br>
        <input type="text" class="form-control" style="width:50px" name="" maxlength="2"
        value="$raja.min" ##Hyväksymisraja
        onBlur="rangecheck(this,0,18)">
       </th>
    </th>
    #set($i = $i+1)
    #if($i==10)<tr><th>#end ##Rivitys
    #end
</tr>
#end

<th>
<input type=button class="btn" value=$bundle.getString("tmuutokset") onClick="">
</th>

</table>
</form>


</body>
<html>