#set($valittuKurssi = $session.getAttribute('selected_course'))

#if ($valittuKurssi.getTila() == "J")
    #set ($jaassa = true)
#else
    #set ($jaassa = false)
#end

<h3>$bundle.getString("3coursebasics")</h3>
<pre>
#foreach($i in [1..18])
    #set($lhmax = "lh_${i}_max")
    #set($lhmin = "lh_${i}_min")
    #if($params.get($lhmax))
        Laskareiden $i maksimiarvo lomakkeessa: $params.get($lhmax)
    #end
    #if($params.get($lhmin))
        Laskareiden $i minimiarvo lomakkeessa: $params.get($lhmin)
    #end
#end
</pre>

##Tässä määritellään säädettäville kentille otsikot, niiden arvot tietokantaoliosta, ja get -parametrien arvo
#set($basics = {
    $bundle.getString("laskuharjoituksia") : 
        {""                               : [$valittuKurssi.harjoitustunnit, "lh"], 
         $bundle.getString("jpakollisia") : [$valittuKurssi.pakolliset_laskaritehtava_lkm, "lh_p"], 
         $bundle.getString("lisapisteet") : [$valittuKurssi.max_laskaripisteet, "lh_lp"]
        },
    $bundle.getString("harjoitustoita") : 
        {""                               : [$valittuKurssi.harjoitustyo_lkm, "ht"], 
         $bundle.getString("jpakollisia") : [$valittuKurssi.pakolliset_harjoitustyo_lkm, "ht_p" ], 
         $bundle.getString("lisapisteet") : [$valittuKurssi.harjoitustyopisteet, "ht_lp"]
        },
    $bundle.getString("kokeita") : 
        {""                               : [$valittuKurssi.valikokeet_lkm, "koe"], 
         $bundle.getString("jpakollisia") : [$valittuKurssi.pakolliset_koe_lkm, "koe_p"]
        }
    }
)

#set($i = 0)
<form name="kurssinPerustiedot" action="" method=get class="form-inline">
    #foreach($otsikko in $basics.keySet()) ##Otsikko tässä joko Laskuharjoitukset, Harjoitustyöt tai Kokeet
        $otsikko:
        #set($alaotsikot = $basics.get($otsikko)) ##Alaotsikot tarkoittavat eri alikenttiä, esimerkiksi harjoitustöiden määrä ja pakollisten määrä
        #foreach($alaotsikko in $alaotsikot.keySet())
                $alaotsikko
                #set($lomakeNimi = $alaotsikot.get($alaotsikko).get(1))
                #set($perustietoArvo = $alaotsikot.get($alaotsikko).get(0))
                    <input type="text" 
                    class="form-control" 
                    style="width:50px"
                    name="$lomakeNimi" ##get-parametria varten, "lh", "lh_p" jne...
                    value="$perustietoArvo" ##arvo valitun kurssin oliolta
                    #if($jaassa) readonly #end></th>
        #end
        <br>
    #end
    <input type=submit class="btn" value=$bundle.getString("tmuutokset") onClick="">
</form>

<form name="kurssinPisteet" action="" method=get class="form-inline">

#set($osasuoritusRajat = {
    $bundle.getString("laskuharjoituksia") : [$valittuKurssi.LaskariRajat, "lh"],
    $bundle.getString("harjoitustoita") : [$valittuKurssi.HarjoitustyoRajat, "ht"],
    $bundle.getString("kokeita") : [$valittuKurssi.KoeRajat, "koe"]
    }
)
<table border="0">
#foreach($rajatyyppi in $osasuoritusRajat.keySet())
<tr>
    <th>$rajatyyppi:</th>
    #set ($i = 1) ##Laskija
    #set ($rajat = $osasuoritusRajat.get($rajatyyppi).get(0))
    #set ($lomake_tunnus = $osasuoritusRajat.get($rajatyyppi).get(1))
    #foreach($raja in $rajat)
    <th>
       $i:
       <th>
        <input type="text" class="form-control" style="width:50px" maxlength="2"
            name="${lomake_tunnus}_${i}_max" 
            value="$raja.max" ##Maksimipisteet
            onBlur="rangecheck(this,0,18)"><br>
        <input type="text" class="form-control" style="width:50px" maxlength="2"
            name="${lomake_tunnus}_${i}_min" 
            value="$raja.min" ##Hyväksymisraja
            onBlur="rangecheck(this,0,18)">
       </th>
    </th>
    #set($i = $i+1)
    #if($i==10)<tr><th>#end ##Rivitys
    #end
</tr>
#end

<th>
<input type=submit class="btn" value=$bundle.getString("tmuutokset") onClick="">
</th>

</table>
</form>


</body>
<html>