
#if ($valittuKurssi.getTila() == "J")
    #set ($jaassa = true)
#else
    #set ($jaassa = false)
#end

##Osasuoritustyyppien tiedot. Lista jonka alkioina on osasuoritustyypin nimi, 
##lista sen osasuorituksista, ja lyhenne GET-parametria varten
#set($osasuoritusTyypit = [
    ["Laskuharjoitus", $valittuKurssi.laskariRajat, "lh"],
    ["Harjoitustyö", $valittuKurssi.harjoitustyoRajat, "ht"],
    ["Koe", $valittuKurssi.koeRajat, "koe"]
]
)

##Tämä looppi käy läpi kaikki get-parametrit joilla voi vaihtaa kurssin osasuoritusten rajoja
#foreach($rajaTyyppi in $osasuoritusTyypit)
    #set ($rajanNimi = $rajaTyyppi.get(0))
    #set ($rajat = $rajaTyyppi.get(1))
    #set ($lomake_tunnus = $rajaTyyppi.get(2))
    #set($i = 1)
    #foreach($raja in $rajat)
        #set($minParam = "${lomake_tunnus}_${i}_min")
        #set($maxParam = "${lomake_tunnus}_${i}_max")
        #set($min = $params.get($minParam))
        #set($max = $params.get($maxParam))
        #if($min)
            #if($raja.setMin($min))
            <pre>$rajanNimi nro $i:n minimiarvoksi asetettu $min</pre>
            #end
        #end
        #if($max)
            #if($raja.setMax($max))
            <pre>$rajanNimi nro $i:n maksimimiarvoksis asetettu $max</pre>
            #end
        #end
        #set($i = $i+1)
    #end
#end

<form name="kurssinPisteet" action="" method=get class="form-inline">

#foreach($rajaTyyppi in $osasuoritusTyypit)
    
    #set ($i = 1) ##Laskija
    #set ($rajanNimi = $rajaTyyppi.get(0))
    #set ($rajat = $rajaTyyppi.get(1))
    #set ($lomake_tunnus = $rajaTyyppi.get(2))
    <h3>$rajanNimi:</h3>
    #foreach($raja in $rajat)
        <div style="display:inline-block">
           <b style="position:relative;top:-43px;">$i:</b>
           <div style="width:55px;display:inline-block">
                <center>
                    <small>max</small>
                    <input type="text" class="form-control" style="width:50px" maxlength="2"
                        name="${lomake_tunnus}_${i}_max" 
                        value="$raja.max" ##Maksimipisteet
                        onBlur="rangecheck(this,0,18)"
                        #if($jaassa)readonly#end
                        >
                    <input type="text" class="form-control" style="width:50px" maxlength="2"
                        name="${lomake_tunnus}_${i}_min" 
                        value="$raja.min" ##Hyväksymisraja
                        onBlur="rangecheck(this,0,18)"
                        #if($jaassa)readonly#end
                        >
                    <small>min</small>
                </center>
           </div>
       </div>
    #set($i = $i+1)
    #end
#end
<br><br>
<input type=submit class="btn" value=$bundle.getString("tmuutokset") onClick="">
</form>
</body>
<html>