#parse("hello.vm")
<h1>$bundle.getString("5grades")</h1>

#set($arvostelutavat = {1 : $bundle.getString("conventionLabel1"),
                        2 : $bundle.getString("conventionLabel2"),
                        3 : $bundle.getString("conventionLabel3"),
                        4 : $bundle.getString("conventionLabel4"),
                        5 : $bundle.getString("conventionLabel5"),
                        6 : $bundle.getString("conventionLabel6"),
                        7 : $bundle.getString("conventionLabel7"),
                        8 : $bundle.getString("conventionLabel8"),
                        9 : $bundle.getString("conventionLabel9")
                        }
)

#if($request.getParameter("tallenna"))
    $Arvostelu.kasitteleLomake($valittuKurssi, $request)
#end

#if($request.getParameter("arvostele"))
    $SQLProseduurit.suoritaArvostelu($valittuKurssi, $request.getRemoteUser(), $request)
#end

<form name="arvostelu" action="" method=get class="form-inline">

<h3>Osasuorituksia:</h3>

<table>
    <tr>
        <th>
        </th>
        <th>LH
        </th>
        <th>HT
        </th>
        <th>KOE
        </th>
    </tr>
    <tr>
        <td style="width: 300px">Yhteensä:
        </td>
        <td>$valittuKurssi.laskarikerta_lkm
        </td>
        <td>$valittuKurssi.harjoitustyo_lkm
        </td>
        <td>$valittuKurssi.valikokeet_lkm
        </td>
    </tr>
    <tr>
        <td>Pakollisia
        </td>
        <td><input name=lh_pak value=$valittuKurssi.pakolliset_laskarikerta_lkm>
        </td>
        <td><input name=ht_pak value=$valittuKurssi.pakolliset_harjoitustyo_lkm>
        </td>
        <td><input name=koe_pak value=$valittuKurssi.pakolliset_koe_lkm>
        </td>
    </tr>
</table>
<h3>Suorituspisteitä osasuorituksista:</h3>

<table>
    <tr>
        <th>
        </th>
        <th>LH
        </th>
        <th>HT
        </th>
        <th>KOE
        </th>
    </tr>
    <tr>
        <td style="width: 300px">Saatavissa:
        </td>
        <td>$valittuKurssi.laskariRajat.maxPisteetYhteensa
        </td>
        <td>$valittuKurssi.harjoitustyoRajat.maxPisteetYhteensa
        </td>
        <td>$valittuKurssi.koeRajat.maxPisteetYhteensa
        </td>
    </tr>
    <tr>
        <td>Hyväksymisrajojen summa
        </td>
        <td>$valittuKurssi.laskariRajat.minPisteetYhteensa
        </td>
        <td>$valittuKurssi.harjoitustyoRajat.minPisteetYhteensa
        </td>
        <td>$valittuKurssi.koeRajat.minPisteetYhteensa
        </td>
    </tr>    
    <tr>
        <td>Osuuden hyväksymisraja
        </td>
        <td><input name=lh_oshyv value=$valittuKurssi.pakolliset_laskaritehtava_lkm>
        </td>
        <td><input name=ht_oshyv value=$valittuKurssi.min_harjoitustyopisteet_summa>
        </td>
        <td><input name=koe_oshyv value=$valittuKurssi.min_koepisteet_summa>
        </td>
    </tr>
</table>

<h3>Arvosteluun vaikuttavat lisäpisteet:</h3>

<table>
    <tr>
        <th>
        </th>
        <th>LH
        </th>
        <th>HT
        </th>
        <th>KOE
        </th>
    </tr>
    <tr>
        <td style="width: 300px">Maksimi:
        </td>
        <td><input name=lh_lisapistemaksimi value=$valittuKurssi.max_laskaripisteet>
        </td>
        <td><input name=ht_lisapistemaksimi value=$valittuKurssi.harjoitustyopisteet>
        </td>
        <td>$valittuKurssi.koeRajat.maxPisteetYhteensa
        </td>
    </tr>
    <tr>
        <td>1.pisteen raja:
        </td>
        <td><input name=lh_lisapistealaraja value=$valittuKurssi.lisapistealaraja>
        </td>
        <td><input name=ht_lisapistealaraja value=$valittuKurssi.ht_lisapistealaraja>
        </td>
        <td>1
        </td>
    </tr>    
    <tr>
        <td>Kartuntaväli
        </td>
        <td><input name=lh_kartuntavali value=$valittuKurssi.lisapisteiden_askelkoko>
        </td>
        <td><input name=ht_kartuntavali value=$valittuKurssi.harjoitustoiden_askelkoko>
        </td>
        <td>1
        </td>
    </tr>
</table>

<h3>Muut</h3>

<table>
    <tr>
        <td style="width: 300px">Max pisteitä:
        </td>
        <td>#set($summa = $valittuKurssi.max_laskaripisteet + $valittuKurssi.harjoitustyopisteet + $valittuKurssi.koeRajat.maxPisteetYhteensa) $summa
        </td>
    </tr>
    <tr>
        <td>Hyväksymisalaraja:
        </td>
        <td><input name=hyvalaraja value=$valittuKurssi.min_yhteispisteet>
        </td>
    </tr>   
    <tr>
        <td>Arvosanaväli:
        </td>
        <td><input name=arvosanavali value=$valittuKurssi.arvostelun_askelkoko>
        </td>
    </tr>       
    <tr>
        <td>Arvosteluasteikko:
        </td>
        <td>
            <input type="radio" name="arvosteluasteikko" value="K" #if($valittuKurssi.arvostellaanko.equals("K")) checked #end>Arvosanat
            <input type="radio" name="arvosteluasteikko" value="E" #if($valittuKurssi.arvostellaanko.equals("E")) checked #end>Hyväksytty/hylätty
        </td>
    </tr>   
    <tr>
        <td>Arvostelutapa
        </td>
        <td>
            <select name=arvostelutapa>
                #foreach($e in $arvostelutavat.entrySet())
                    <option value=$e.key #if($valittuKurssi.laskentakaava && $valittuKurssi.laskentakaava == $e.key)selected#end>$e.value</option>
                #end
            </select>
        </td>
    </tr>
</table>
<input type=submit name=tallenna class="btn" value=$bundle.getString("tmuutokset") onClick="">
<input type=submit name=arvostele class="btn" value="Tee arvostelu" onClick="">
<a href="lisapisterajat.vm">Lisäpisterajojen asetus</a>
</form>

#parse("bottom.vm")