#parse("top.vm")
<h1>$bundle.getString("6resultlist")</h1>

#if($session.getAttribute('selected_course_id'))
    #set ($valittuKurssi = $KurssiKyselyt.kurssiIDlla($session.getAttribute('selected_course_id')))
#end
            <form name="suoritevalinta" class="form-inline" action="tuloslistapohja.vm" method="post" target="_blank">
              <input type="hidden" name="ltype" value="99">
              <input type="hidden" name="ctype" value="text/plain">
              <input type="hidden" name="useinc" value="true">
	      <table class="table table-striped table-condensed table-bordered" style="width:400px">
                <tr>
                  <th>&nbsp;
                  </th>
                  <th nowrap>$bundle.getString("tulostettavaTieto")
                  </th>
                  <th nowrap>$bundle.getString("sarakeOtsikko")
                  </th>
                </tr>

#foreach($kohta in $Tuloslistat.kohdat)
    #if($kohta.ehto)
                <tr>
                  <td>
                    #if ($kohta.checkboxname == "inc_ssn" || $kohta.checkboxname == "inc_statistics"
                        || $kohta.checkboxname == "inc_gradeDistr" || $kohta.checkboxname == "inc_feedback"
                        || $kohta.checkboxname == "inc_signature")
                        <input type="checkbox" name="$kohta.checkboxname">
                    #else
                        <input type="checkbox" name="$kohta.checkboxname" checked>
                    #end
                  </td>
                  <td nowrap>
                    $bundle.getString($kohta.bundlekey)
                  </td>
                  <td>
                  #if($kohta.otsikkoname)
                    <input type="text" class="form-control input-sm" style="width:80px" 
                        name="$kohta.otsikkoname" size="8" maxlength="8" value="$kohta.otsikkodefault">
                  #end
                  </td>
                </tr>
    #end
#end
	        <tr>
		  <th colspan="3" nowrap>&nbsp;
		    $bundle.getString("opiskelijatl")
		    <input type="text" class="form-control input-sm" style="width:200px" 
                        name="filter" tabindex="32600" size="15" value = "$!studentFilter">
		    <input type="submit" name="makeList" tabindex="32601" value=">>>" class="btn btn-primary">
		  </th>
	        </tr>
	      </table>
	    </form>
	  </td>
	</tr>
      <tr>
	<td colspan="4">
<div class="instr">
<ol>


  <li>$bundle.getString("tuloslistavalintainfo")</li>

  <li>$bundle.getString("hakuperusteinfo")
	    <dl>
	      <dt>$bundle.getString("tyhja")</dt>
  	        <dd>$bundle.getString("kaikkiopiskelijat")</dd>
	      <dt>$bundle.getString("num")</dt>
	        <dd>$bundle.getString("annetunro")</dd>
	      <dt>$bundle.getString("sukunimi")</dt>
	        <dd>$bundle.getString("sukunimiInfo")</dd>
	      <dt>$bundle.getString("al")</dt>
	        <dd>$bundle.getString("sukunimiInfo2")</dd>
	      <dt>$bundle.getString("kriteerit")</dt>
	        <dd>$bundle.getString("useatkriteerit")</dd>
	      <dt>$bundle.getString("meikalainen")</dt>
		<dd>$bundle.getString("pienetjaisot")</dd>
            </dl>
  </li>

#parse ('bottom.vm')