#if ($request.getParameter("jaadyta"))
    #set ($kurssinTila = $session.getAttribute("selected_course").getTila())
    $SQLProseduurit.suoritaJaadytys($session.getAttribute("selected_course"), $kurssinTila, $request)
    $session.setAttribute("user_courses", null)
#end

#if ($request.getParameter("suoritusPvm"))
    #set ($suoritusPvm = $suorituspaivamaara.tarkastaSuorituspvm($session.getAttribute('selected_course'), "$request.getParameter('suoritusPvm')", $request))
    #if (!$suorituspaivamaara.onkoNull($suoritusPvm))
        $suorituspaivamaara.suoritaAsetus($suoritusPvm, $session.getAttribute("selected_course"), $request.getSession(), $Lokalisaatio.bundle($request))
    #end
    $session.setAttribute("user_courses", null)
#end

#parse("top.vm")

#set ($kurssikoodi = $selected_course.getKurssikoodi())
#set ($lukukausi = $selected_course.getLukukausi())
#set ($lukuvuosi = $selected_course.getLukuvuosi())
#set ($tyyppi = $selected_course.getTyyppi())
#set ($kurssinro = $selected_course.getKurssi_nro())
#set ($kurssi = $KurssiKyselyt.kurssiIDlla("$kurssikoodi", "$lukukausi", "$lukuvuosi", "$tyyppi", "$kurssinro"))
$session.setAttribute("selected_course", $kurssi)
#set ($selected_course = $session.getAttribute("selected_course"))

    <html>
        <h1>$bundle.getString("7freezing")</h1>
        <body>
            <div class="instr">
                <ul>
                    #if ($selected_course.getTila() != "J")
                        <li>$bundle.getString("jaadytys")</li>
                        <li>$bundle.getString("tuloslistanToimitus")</li>
                        <li>$bundle.getString("tuloslista")</li>
                        <li>$bundle.getString("korjaukset")</li>
                    #else
                        <li>$bundle.getString("kanslisti")</li>
                        <li>$bundle.getString("toimitus")</li>
                        <li>$bundle.getString("kuittaus")</li>
                    #end
                </ul>
            </div>
            
            #if ($suorituspaivamaara.onkoSuorituspvmNull($selected_course))
                #if (!$suorituspaivamaara.palautaSuorituspvmnYlaraja($selected_course))
                    $SessioApuri.annaVirhe($request.session, $bundle.getString("kurssinPaattymispvmEiAsetettu"))
                #else
                    #set ($ylaraja = $suorituspaivamaara.palautaSuorituspvmnYlaraja($selected_course))
                    <form method=get>
                        $bundle.getString("valitseSuorpvm"):<input type="text" name="suoritusPvm" id="datepicker"/>
                        <input type="submit" value="$bundle.getString("laheta")" class="btn"/>
                    </form>
                #end
            #else
                <form method=get>
                    #if (!$jaadytys.tarkastaSuorituspvm($selected_course))
                        <input type="hidden" name="virhe1"/>
                    #elseif (!$selected_course.getOmistaja())
                        <input type="hidden" name="virhe2"/>
                    #else
                        <input type="hidden" name="jaadyta"/>
                    #end
                    <input type="submit" value="$bundle.getString("jaadyta")" class="btn"/>
                </form>
            #end

            #if ($request.getParameter("virhe1"))
                $SessioApuri.annaVirhe($request.session, $bundle.getString("jaadytystaEiVoiSuorittaaPvm"))
            #end

            #if ($request.getParameter("virhe2"))
                $SessioApuri.annaVirhe($request.session, $bundle.getString("jaadytystaEiVoiSuorittaa"))
            #end

            <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
            <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
            <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
            <link rel="stylesheet" href="/resources/demos/style.css"/>
            <script>
                $(function() {
                    $('#datepicker').datepicker({minDate: "-6M", maxDate: "$ylaraja", dateFormat: "dd.mm.yy"});
                });
            </script>
        </body>
    </html>
#parse("bottom.vm")