#if($session.getAttribute("error"))
    <pre>
        #foreach($virhe in $SessioApuri.haeVirheet($request))
$virhe
        #end
    </pre>
    $session.setAttribute("error", null)
#end
</body>
</html>