
</div> ##Middle div ends here

#if($session.getAttribute("message"))
    <div id=viesti class="alert alert-success">
    #foreach($viesti in $SessioApuri.haeViestit($request))
      <ul>$viesti</ul>
    #end
    </div>
    $session.setAttribute("message", null)
#end

#if($session.getAttribute("error"))
    <div id=virhe class="alert alert-danger">
    #foreach($virhe in $SessioApuri.haeVirheet($request))
      <ul>$virhe</ul>
    #end
    </div>
    $session.setAttribute("error", null)
#end

<script>

        //Funktio lataa sivun taustalla, ja päivittää sitten sivun
        getPage = function(url) {
            $.get(url, function(data) {
                location.reload();
            });
        }

        $(function() {
            $('#datepicker').datepicker({minDate: '-6M', maxDate: '$ylaraja', dateFormat: 'dd.mm.yy'});
        });

    viesti = document.getElementById("viesti")
    virhe = document.getElementById("virhe")
    ilmoitus = document.getElementById("ilmoitus")
    if(viesti!=null) ilmoitus.appendChild(viesti)
    if(virhe!=null) ilmoitus.appendChild(virhe)

    function rangeChecker(kentta, min, max, alkuperainenArvo) {
        var arvo = kentta.value;
        if(min > arvo || max < arvo) {
            kentta.style.borderColor = "Red";
        } else if ((arvo == '+' || (min <= arvo || max >= arvo)) && arvo != alkuperainenArvo) {
            kentta.style.borderColor = "Green";
        } else { 
            kentta.value = alkuperainenArvo;
        }
    }

    function paramInfo(viesti) {
        ilmoitus = document.getElementById("OsallistujaTiedotVinkki");
        ilmoitus.innerHTML = viesti;
    }

</script>
</body>
</html>