#if($session.getAttribute("message"))
    <div class="alert alert-success">
    #foreach($viesti in $SessioApuri.haeViestit($request))
      <ul>$viesti</ul>
    #end
    </div>
    $session.setAttribute("message", null)
#end

#if($session.getAttribute("error"))
    <div class="alert alert-danger">
    #foreach($virhe in $SessioApuri.haeVirheet($request))
      <ul>$virhe</ul>
    #end
    </div>
    $session.setAttribute("error", null)
#end

</body>
</html>