##Ensin tarkastetaan että kurssit on ladattu sessiomuuttujaan
$SessioApuri.auta($request)
##Lokalisaatiobundlen asetus
#set($bundle = $SessioApuri.bundle($request))
##Parametrit käytettäviksi
##Tähän voi asettaa yleishyödyllistä matskua
#set($valittuKurssi = $session.getAttribute('selected_course'))
<html>

<head>
    <META charset='utf-8'/>
    <title>KURKI</title>

    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <style>

      
    </style>
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

</head>

<body>

<h4>Logged in as: $request.getRemoteUser()</h4>
<a href="?locale=en"><img src="images/liput/gb.png"></a>
<a href="?locale=fi"><img src="images/liput/fi.png"></a>
<a href="logout.vm">Logout</a>
<div>

##onsubmit="alert('submit');change(serviceId.options[selectedVal.selectedIndex].value)"

##<form onsubmit="change(document.getElementById('service-field').value)" class="form-inline">

<form action="" method=get class="form-inline">
    <select name="courseId" onChange="this.form.submit()" class="form-control form-inline" style="width:700px">
    #if (!$session.getAttribute('selected_course_id'))
            <option value="" selected>-- $bundle.getString("valitseKurssi") --</option>
    #end
    #foreach($k in $session.getAttribute('user_courses'))
        #if($session.getAttribute('selected_course_id') && $session.getAttribute('selected_course_id') == $k.idString())
            #if($k.getTila() == "J")
                <option value=$k.idString() selected>* $k.listaString() *</option>
            #else
                <option value=$k.idString() selected>$k.listaString()</option>
            #end
        #else
            #if($k.getTila() == "J")
                <option value=$k.idString()>* $k.listaString() *</option>
            #else
                <option value=$k.idString()>$k.listaString()</option>
            #end
        #end
    #end
    </select>

##Lisätään key:ksi sivun osoite
    #set ($services = {"1suoritteidenKirjaus.vm" : $bundle.getString("1entry") ,
                     "2osallistujatiedot.vm" : $bundle.getString("2participants") ,
                     "3kurssinPerustiedot.vm" : $bundle.getString("3coursebasics") ,
                     "4listat.vm" : $bundle.getString("4checklist") ,
                     "5arvostelu.vm" : $bundle.getString("5grades") ,
                     "6tuloslistat.vm" : $bundle.getString("6resultlist") ,
                     "7jaadytys.vm" : $bundle.getString("7freezing")})

     #if ($session.getAttribute('selected_course'))
         <select name="serviceId" id="service-field" onChange="window.location.href=this.value;" class="form-control form-inline" style="width:300px">
             <option value="" selected>-- $bundle.getString("valitsetoiminto") --</option>
         #foreach ($s in $services.entrySet())
             <option value=$s.key>$s.value</option>
         #end
         </select>
    #end

##<script type="text/javascript">
##    function change(selectedVal){ 
##        window.location.href=selectedVal.options[selectedVal.selectedIndex].value;
##    }
##</script>

</form>

##<div>
##Apulinkit testaukseen:
##<input type=button class="btn" value=hello onClick="parent.location='hello.vm'">
##<input type=button class="btn" value=Lisäyslause onClick="parent.location='lisayslause.vm'">
##<input type=button class="btn" value=laskarit onClick="parent.location='laskarit.vm'">
##<input type=button class="btn" value=opiskelija onClick="parent.location='opiskelija.vm'">
##<input type=button class="btn" value=osallistujaLista onClick="parent.location='osallistujaLista.vm'">
##<input type=button class="btn" value=harjoitustyö onClick="parent.location='harjoitustyo.vm'">
##</div>
<div id=ilmoitus> </div>