##Ensin tarkastetaan että kurssit on ladattu sessiomuuttujaan
$sessioapuri.auta($request)
##Lokalisaatiobundlen asetus
#set($bundle = $sessioapuri.bundle($request))
##Parametrit käytettäviksi
#set($qs = $request.getQueryString())
#if($qs)
    #set($params = $queryparser.split($qs))
#end
##Tähän voi asettaa yleishyödyllistä matskua
#set($valittuKurssi = $session.getAttribute('selected_course'))

<html>

<head>
    <META charset='utf-8'/>
    <title>KURKI</title>

    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      
    </style>
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

</head>

<body>

##Mahdollisen virheen tulostus
#if($session.getAttribute("error"))
    <pre>$session.getAttribute("error")</pre>
#end

<h4>Logged in as: $request.getRemoteUser()</h4>
<a href="?locale=en"><img src="images/liput/gb.png"></a>
<a href="?locale=fi"><img src="images/liput/fi.png"></a>
<a href="logout.vm">Logout</a>

<div>
<form action="" method=get class="form-inline">
    <select name="courseId" onChange="this.form.submit()" class="form-control form-inline" style="width:700px">
    #foreach($k in $session.getAttribute('user_courses'))
        #if($session.getAttribute('selected_course_id') && $session.getAttribute('selected_course_id') == $k.idString())
            #if($k.getTila() == "J")
                <option value=$k.idString() selected>* $k.listaString() *</option>
            #else
                <option value=$k.idString() selected>$k.listaString()</option>
            #end
        #else
            #if($k.getTila() == "J")
                <option value=$k.idString()>* $k.listaString() *</option>
            #else
                <option value=$k.idString()>$k.listaString()</option>
            #end
        #end
    #end
    </select>

##Lisätään key:ksi sivun osoite, sivut joilla on vain numero key:nä ei vie vielä mihinkään!
#set ($services = {"1suoritteidenKirjaus.vm" : "Suoritteiden kirjaus" , "2osallistujatiedot.vm" : "Osallistujatietojen muutokset" ,
"3kurssinPerustiedot.vm" : "Kurssin perustietojen muutokset" , "4listat.vm" : "Listat" , "5arvostelu.vm" : "Arvostelu" ,
"6tuloslistat.vm" : "Tuloslistat" , "7jaadytys.vm" : "Kurssin jäädytys"})

    #if ($session.getAttribute('selected_course'))
        <select name="serviceId" onChange="this.form.submit()" class="form-control form-inline" style="width:300px">
        #if (!$session.getAttribute('selected_service_id'))
            <option value="" selected>-- $bundle.getString("valitse_toiminto") --</option>
        #end
        #foreach ($s in $services.entrySet())
            #if($session.getAttribute('selected_service_id') && $session.getAttribute('selected_service_id') == $s.key)
                <option value=$s.key selected>$s.value</option>
            #else
                <option value=$s.key>$s.value</option>
            #end
        #end
        </select>
    #end
</form>

<div>
Apulinkit testaukseen:
<input type=button class="btn" value=hello onClick="parent.location='hello.vm'">
<input type=button class="btn" value=kurssihaku onClick="parent.location='kurssihaku.vm'">
<input type=button class="btn" value=laskarit onClick="parent.location='laskarit.vm'">
<input type=button class="btn" value=opiskelija onClick="parent.location='opiskelija.vm'">
<input type=button class="btn" value=osallistujaLista onClick="parent.location='osallistujaLista.vm'">
<input type=button class="btn" value=harjoitustyö onClick="parent.location='harjoitustyo.vm'">
</div>

</div>

##avataan valittu sivu jos palvelun id kelpaa
#if($services.keySet().contains($session.getAttribute('selected_service_id')))
    #parse ($session.getAttribute('selected_service_id'))
#end

