<html>
<body>
<pre>
#if($session.getAttribute('selected_course_id'))
    #set($kur = $kurssi.kurssiIDlla($session.getAttribute('selected_course_id')))
    $kur.nimi $kur.lukuvuosi $kur.lukukausi ($kur.tyyppi)
#end

Laskaritehtävien lukumäärä: $kur.laskaritehtava_lkm
Pakolliset laskaritehtävät lkm: $kur.pakolliset_laskaritehtava_lkm
max_laskaripisteet: $kur.max_laskaripisteet
hyvaksytty_laskarilasnaolo: $kur.hyvaksytty_laskarilasnaolo

#foreach($os in $osallistuminen.ListaKurssinOsallistumisista($kur))
    Laskarisuoritukset: $os.laskarisuoritukset
#end
</pre>
</body>
<html>