#parse ("hello.vm")

Laskaritehtävien lukumäärä: $kur.laskaritehtava_lkm
Pakolliset laskaritehtävät lkm: $kur.pakolliset_laskaritehtava_lkm
max_laskaripisteet: $kur.max_laskaripisteet
hyvaksytty_laskarilasnaolo: $kur.hyvaksytty_laskarilasnaolo

#foreach($os in $OsallistuminenKyselyt.listaKurssinOsallistumisista($kur))
    Laskarisuoritukset: $os.laskarisuoritukset
#end
</body>
<html>