#parse ("hello.vm")

#if($valittuKurssi)

<h3>valitun kurssin lisäyslause</h3>
<pre>
$SessioApuri.lisaysLause($valittuKurssi)
</pre>

<h3>valitun kurssin ekan oppilaan lisäyslause</h3>
<pre>
#set($ops = $OppilasKyselyt.oppilaatKurssilla($valittuKurssi))
#if($ops && $oss.size() > 0)
	$SessioApuri.lisaysLause($ops.get(0))
#end
</pre>

<h3>valitun kurssin ekan osallistumisen lisäyslause</h3>
<pre>
#set($oss = $OsallistuminenKyselyt.osallistumisetKurssilla($valittuKurssi))
#if($oss && $oss.size() > 0)
	$SessioApuri.lisaysLause($oss.get(0))
#end
</pre>

#end
</body>
<html>