<html>
<head>
    <META charset='utf-8'/>
    <title>KURKI</title>

    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

</head>
<body>

#set($qs = $request.getQueryString())

#if($qs)
    #set($params = $queryparser.split($qs))
#end

#set($bundle = $sessioapuri.bundle($request))

#if($session.getAttribute('selected_course_id'))
    #set ($valittuKurssi = $KurssiKyselyt.kurssiIDlla($session.getAttribute('selected_course_id')))
#end

$valittuKurssi.listaString(): $bundle.getString("kaikkiopiskelijat")<br>
$bundle.getString("tilanne"): $date.get('d.M.yyyy HH:mm')<br><br>
#set ($valittuKurssi = $KurssiKyselyt.kurssiIDlla($session.getAttribute('selected_course_id')))     
#if($valittuKurssi)
    #set ($osallistumiset = $OsallistuminenKyselyt.osallistumisetKurssilla($valittuKurssi))
#end  

#if ($params.get("listtype") == 3)       
    $OsallistuminenSorter.sorttaaSukunimenMukaan($osallistumiset)
    <table class="table table-bordered table-condensed" style="width: auto">            
    <th>$bundle.getString("isonimi")</th>
    #foreach ($osallistuminen in $osallistumiset)
     <tr>
       <td>$osallistuminen.sukunimi, $osallistuminen.etunimi</td>
     </tr>
    #end            
    </table>        
#end

#if ($params.get("listtype") == 4) 
    $OsallistuminenSorter.sorttaaSukunimenMukaan($osallistumiset)
    <table class="table table-bordered table-condensed" style="width: auto">  
    <th>$bundle.getString("isonimi")</th>
    <th>Email</th>
    #foreach ($osallistuminen in $osallistumiset)
        <tr>
            <td> $osallistuminen.sukunimi, $osallistuminen.etunimi</td> <td>$osallistuminen.email</td>
         </tr>
    #end
    </table>        
#end

#if ($params.get("listtype") == 5)   
    $bundle.getString("emailkopiointi")<br>
    <input value="#foreach ($osallistuminen in $osallistumiset)#if(!$osallistuminen.email.equals("undefined"))$osallistuminen.email,#end#end"></input><br><br>
    <table class="table table-bordered table-condensed" style="width: auto"> 
    <th>Email</th>
    #foreach ($osallistuminen in $osallistumiset)
        <tr>
            <td>$osallistuminen.email</td>
        </tr>
    #end    
    </table> 
#end

#if ($params.get("listtype") == 6)    
    $OsallistuminenSorter.sorttaaIlmjarjestyksenMukaan($osallistumiset)    
    <table class="table table-bordered table-condensed" style="width: auto"> 
    <th>#</th>
    <th>$bundle.getString("isonimi")</th>
    <th>$bundle.getString("ilmoaika")</th>
    #foreach ($osallistuminen in $osallistumiset)
        <tr>
        <td>$foreach.count</td>
        <td>$osallistuminen.sukunimi, $osallistuminen.etunimi</td> <td>$date.format('d.M.yyyy HH:mm', $osallistuminen.ilmoittautumis_pvm)</td>
        </tr>
    #end
    </table> 
#end

</body>
</html>
