<html>
<head>
    <META charset='utf-8'/>
    <title>KURKI</title>

    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>

#set($qs = $request.getQueryString())

#if($qs)
    #set($params = $queryparser.split($qs))
#end

#set($bundle = $sessioapuri.bundle($request))

#if($session.getAttribute('selected_course_id'))
    #set ($valittuKurssi = $KurssiKyselyt.kurssiIDlla($session.getAttribute('selected_course_id')))
#end

$valittuKurssi.listaString(): $bundle.getString("kaikkiopiskelijat")<br>
$bundle.getString("tilanne"): $date.get('d.M.yyyy HH:mm')<br>
#set ($valittuKurssi = $KurssiKyselyt.kurssiIDlla($session.getAttribute('selected_course_id')))     
#if($valittuKurssi)
    #set ($osallistumiset = $OsallistuminenKyselyt.osallistumisetKurssilla($valittuKurssi))
#end  

#if (!$params.get("kommentti").equals(""))
    $bundle.getString("kommentti"): $params.get("kommentti")<br>
#end
<br>

#if ($params.get("listtype") == 1)  
    $OsallistuminenSorter.sorttaaSukunimenMukaan($osallistumiset)
    <table border="1">            
    <th width="350">$bundle.getString("isonimi")</th>
    #foreach ( $i in [1..10] )
        <th width="55">$i</th>    
    #end    
    #foreach ($osallistuminen in $osallistumiset)
    #if ($osallistuminen.voimassa.equals("K"))
     <tr>        
       <td>$osallistuminen.sukunimi, $osallistuminen.etunimi</td>
       #foreach ( $i in [1..10] )
       <td>&nbsp</td>
       #end
     </tr>
    #end   
    #end
    </table> 
#end

#if ($params.get("listtype") == 2)       
    $OsallistuminenSorter.sorttaaSukunimenMukaan($osallistumiset)
    <table class="table table-bordered table-condensed" style="width: auto">            
    <th>$bundle.getString("isonimi")</th>
    <th>$bundle.getString("opnro")</th>
    #foreach ($osallistuminen in $osallistumiset)
    #if ($osallistuminen.voimassa.equals("K"))
     <tr>
       <td>$osallistuminen.sukunimi, $osallistuminen.etunimi</td> <td>$osallistuminen.hetu</td>
     </tr>
    #end            
    #end
    </table>        
#end

#if ($params.get("listtype") == 3)       
    $OsallistuminenSorter.sorttaaSukunimenMukaan($osallistumiset)
    <table class="table table-bordered table-condensed" style="width: auto">            
    <th>$bundle.getString("isonimi")</th>
    #foreach ($osallistuminen in $osallistumiset)
    #if ($osallistuminen.voimassa.equals("K"))
     <tr>
       <td>$osallistuminen.sukunimi, $osallistuminen.etunimi</td>
     </tr>
    #end        
    #end
    </table>        
#end

#if ($params.get("listtype") == 4) 
    $OsallistuminenSorter.sorttaaSukunimenMukaan($osallistumiset)
    <table class="table table-bordered table-condensed" style="width: auto">  
    <th>$bundle.getString("isonimi")</th>
    <th>Email</th>
    #foreach ($osallistuminen in $osallistumiset)
    #if ($osallistuminen.voimassa.equals("K"))
        <tr>
            <td> $osallistuminen.sukunimi, $osallistuminen.etunimi</td> <td>$osallistuminen.email</td>
         </tr>
    #end
    #end
    </table>        
#end

#if ($params.get("listtype") == 5)       
    $bundle.getString("emailkopiointi")<br>
    <input value="#foreach ($osallistuminen in $osallistumiset)#if(!$osallistuminen.email.equals("undefined"))$osallistuminen.email,#end#end"></input><br><br>
    <table class="table table-bordered table-condensed" style="width: auto"> 
    <th>Email</th>
    #foreach ($osallistuminen in $osallistumiset)
    #if ($osallistuminen.voimassa.equals("K"))
        <tr>
            <td>$osallistuminen.email</td>
        </tr>
    #end  
    #end
    </table> 
#end

#if ($params.get("listtype") == 6)    
    $OsallistuminenSorter.sorttaaIlmjarjestyksenMukaan($osallistumiset)    
    <table class="table table-bordered table-condensed" style="width: auto"> 
    <th>#</th>
    <th>$bundle.getString("isonimi")</th>
    <th>$bundle.getString("ilmoaika")</th>
    #foreach ($osallistuminen in $osallistumiset)
    #if ($osallistuminen.voimassa.equals("K"))
        <tr>
        <td>$foreach.count</td>
        <td>$osallistuminen.sukunimi, $osallistuminen.etunimi</td> <td>$date.format('d.M.yyyy HH:mm:ss', $osallistuminen.ilmoittautumis_pvm)</td>
        </tr>
    #end
    #end
    </table> 
#end

#if ($params.get("listtype") == 7)       
    $OsallistuminenSorter.sorttaaSukunimenMukaan($osallistumiset)
    <table class="table table-bordered table-condensed" style="width: auto">            
    <th>$bundle.getString("isonimi")</th>  
    <th>$bundle.getString("lh")</th>     
    #if ($valittuKurssi.laskarikerta_lkm > 0)        
        #foreach ( $i in [1..$valittuKurssi.laskarikerta_lkm] )
           <th>$i</th>       
        #end
    #end 

      <th>$bundle.getString("ht")</th> 
       #if ($valittuKurssi.harjoitustyo_lkm > 0)        
        #foreach ( $i in [1..$valittuKurssi.harjoitustyo_lkm] )
           <th>$i</th>       
        #end
    #end

    <th>$bundle.getString("koe")</th> 
       #if ($valittuKurssi.valikokeet_lkm > 0)        
        #foreach ( $i in [1..$valittuKurssi.valikokeet_lkm] )
           <th>$i</th>       
        #end
    #end  
 
    #foreach ($osallistuminen in $osallistumiset)
    #if ($osallistuminen.voimassa.equals("K"))
     <tr>
       <td>$osallistuminen.sukunimi, $osallistuminen.etunimi</td>

       #if ($valittuKurssi.laskarikerta_lkm > 0)    
            #set ($yht = 0)
            #foreach ( $i in [1..$valittuKurssi.laskarikerta_lkm] )       
             #if($osallistuminen.laskarit.osa($i)) #set ($yht = $yht + $osallistuminen.laskarit.osa($i).pisteet)#end     
            #end
            <td align="center">$yht</td>
            #foreach ( $i in [1..$valittuKurssi.laskarikerta_lkm] )       
             <td>#if($osallistuminen.laskarit.osa($i)) $osallistuminen.laskarit.osa($i)#end</td>        
            #end
       #end

        #if ($valittuKurssi.harjoitustyo_lkm > 0) 
            #set ($yht = 0)
            #foreach ( $i in [1..$valittuKurssi.harjoitustyo_lkm] )       
             #if($osallistuminen.harjoitustyot.osa($i)) #set ($yht = $yht + $osallistuminen.harjoitustyot.osa($i).pisteet)#end     
            #end
            <td align="center">$yht</td>
            #foreach ( $i in [1..$valittuKurssi.harjoitustyo_lkm] )       
             <td>#if($osallistuminen.harjoitustyot.osa($i)) $osallistuminen.harjoitustyot.osa($i)#end</td>
            #end
        #end
        
        #if ($valittuKurssi.valikokeet_lkm > 0)
        #set ($yht = 0)
        #foreach ( $i in [1..$valittuKurssi.valikokeet_lkm] )       
             #if($osallistuminen.kokeet.osa($i)) #set ($yht = $yht + $osallistuminen.kokeet.osa($i).pisteet)#end     
            #end
        <td align="center">$yht</td>
        #foreach ( $i in [1..$valittuKurssi.valikokeet_lkm] )       
         <td>#if($osallistuminen.kokeet.osa($i)) $osallistuminen.kokeet.osa($i)#end</td>
        #end
        #end
       
     </tr>
    #end  
    #end
    </table>  
    $bundle.getString("hyvpisteitta")
#end

#if ($params.get("listtype") == 8)       
    $OsallistuminenSorter.sorttaaSukunimenMukaan($osallistumiset)
    <table class="table table-bordered table-condensed" style="width: auto">            
    <td><b>$bundle.getString("isonimi")</b></td>
    <td width="600" align="center"><b>$bundle.getString("isonimikirjoitus")</b></td>
    #foreach ($osallistuminen in $osallistumiset)
    #if ($osallistuminen.voimassa.equals("K"))
     <tr>
       <td>$osallistuminen.sukunimi, $osallistuminen.etunimi</td>
       <td>&nbsp</td>
     </tr>  
    #end  
    #end
    </table>        
#end

</body>
</html>
