<html>
<body>
<pre>
#set($qs = $request.getQueryString())
#if($qs)
    #set($params = $queryparser.split($qs))
#end
$params.get('hetu') <br>

#foreach($opiskelija in $OpiskelijaKyselyt.opiskelijatHetulla($params.get('hetu')))
    $opiskelija.hetu
    $opiskelija.etunimi
    $opiskelija.sukunimi
    $opiskelija.osoite

#end
</pre>
</body>
<html>