#parse ("hello.vm")

$params.get('hetu') <br>

#foreach($opiskelija in $OpiskelijaKyselyt.opiskelijatHetulla($params.get('hetu')))
    $opiskelija.hetu
    $opiskelija.etunimi
    $opiskelija.sukunimi
    $opiskelija.osoite

#end

</body>
<html>