<html>
<body>
<pre>
#set($qs = $request.getQueryString())
#if($qs)
    #set($params = $queryparser.split($qs))
#end
$params.get('hetu') <br>
#foreach($opiskelija in $OpiskelijaKyselyt.opiskelijatHetulla($params.get('hetu')))
    $opiskelija.getValue($opiskelija.getHetu())
    $opiskelija.getValue($opiskelija.getEtunimi())
    $opiskelija.getValue($opiskelija.getSukunimi())
    $opiskelija.getValue($opiskelija.getOsoite())
#end
</pre>
</body>
<html>