
#set($Integer = 0)
#set($haetut = $OpiskelijaKyselyt.haeOpiskelijat($hetuFilter, $sukuFilter, $valittuKurssi))
#set($lisattava = $request.getParameter("lisattava")) ##lisättävän opn hetu
#if ($request.getParameter("ryhmanro") && !$request.getParameter("ryhmanro").equals(""))
    #set($ryhma = $Integer.parseInt($request.getParameter("ryhmanro")))
#end

#if($haetut.size() == 50)
  $SessioApuri.annaVirhe($request.session,
    $bundle.getString("tarkennaHInfo").concat(" 50 ").concat($bundle.getString("tarkennaHInfo2")))
#end

#if($request.getParameter("lisattava"))
    $OsallistuminenKyselyt.luoUusiOsallistuminen($lisattava, $ryhma, $valittuKurssi, $request)
#end

<form action="" method="post" class="inline" style="margin:0;display:inline;" >
<table class="table table-condensed table-bordered" style="max-width:1000px">
  <caption>
    $bundle.getString("opvalittu") $haetut.size()
  </caption>
  <tr>
    <th> $bundle.getString("nimiSyntpva") </th>
    <th> $bundle.getString("camelopnro") </th>
    <th> $bundle.getString("ilmoitakurssille") </th>
  </tr> 
    
  #foreach($opiskelija in $haetut)
  <tr>
    <td>
      <b><a href="mailto:MAIL">$opiskelija.etunimi, $opiskelija.sukunimi</a></b>
    </td>
    <td>
      <center><tt>$opiskelija.hetu</tt></center>
    </td>
    <td>
      <center>
        <button name="lisattava" type="submit" class="btn btn-success btn-sm" value=$opiskelija.hetu>lisää</button>
      </center>  
    </td>
  </tr>
  #end
</table>
 </form>    