#foreach($poistettava in $request.getParameterValues("poistettavat"))
  $OsallistujaMuutokset.poistaKurssilta($poistettava, $valittuKurssi, $request)
#end

#foreach($grp in $request.getParameterValues("grp"))
  $OsallistujaMuutokset.vaihdaRyhmaa($grp, $valittuKurssi, $request)
#end

##Osallistumiset
#set($osallistumiset = $OsallistuminenKyselyt.voimassaKurssilla($valittuKurssi,
 $sukuFilter, $ryhmaFilter, $hetuFilter))

#if($osallistumiset.size() == 0)
  <h2>$bundle.getString("opeivastannut")</h2>

#else
<form name=poistaOpiskelijat action="" method=post >
<table class="table table-condensed table-bordered" style="max-width:1000px">
  <caption>
   $bundle.getString("opvalittu") $osallistumiset.size()
  </caption>
  <tr>
    <th> $bundle.getString("nimiSyntpva") </th>
    <th> $bundle.getString("camelopnro") </th>
    <th> $bundle.getString("ryhma") </th>
    <th> $bundle.getString("suor") </th>
    <th> $bundle.getString("poistaKurssilta") </th>
    <th> $bundle.getString("naytaTiedot") </th>
  </tr>


#foreach($osallinen in $osallistumiset)
  <tr>
    <td>
      <b><a href="mailto:">$osallinen.sukunimi, $osallinen.etunimi</a>
        #if($osallinen.jaassa.equals('J'))<img src="images/kurkijaassa.gif">#end
        #if($osallinen.jaassa.equals('S'))<img src="images/defrost.gif">#end
      </b>
    </td>
    <td>
      <center>
        <tt>$osallinen.hetu</tt>
      </center>
    </td>
    <td>
        <center>
        #if(!$osallinen.jaassa)
          <select name="grp" class="form-control form-inline" style="width:70px">
          #foreach($ryhma in $ryhmat)
            <option 
              #if($osallinen.ilmo_jnro==$ryhma) value="" selected 
              #else value="${osallinen.hetu}_${osallinen.ryhma_nro}_${ryhma}" #end>
              $ryhma
            </option>
          #end
          </select>
          #else <b> $osallinen.ilmo_jnro </b> #end
        </center>
    </td>
    <td>
      <center> #if($osallinen.suoritettu())X#end</center>
    </td>
    <td>
        #if(!$osallinen.jaassa)
          <center>
            <input type="checkbox" name="poistettavat" value="${osallinen.hetu}_${osallinen.ryhma_nro}">
          </center>
        #end
    </td>
    <td>
      <center>
          <button name="hetuParam" type="submit" class="btn btn-primary" value=$osallinen.hetu>Tiedot</button>
      </center>
    </td>
  </tr>
  #end

  <tr>
    <th colspan="6">
      <center>
        <input type="submit" class="btn btn-success" value="$bundle.getString("tallenMuutoksetIso")">
      </center>
    </th>
  </tr>
</table>

</form>
#end