#parse ("hello.vm")

#if($session.getAttribute('selected_course_id'))
    #set ($valittuKurssi = $KurssiKyselyt.kurssiIDlla($session.getAttribute('selected_course_id')))
    Valittu kurssi: $valittuKurssi.listaString() <br>
    Kurssin osallistujat:
    <ul>
    #if($valittuKurssi)
        #set ($i=0)
        #set ($osallistumiset = $OsallistuminenKyselyt.osallistumisetKurssilla($valittuKurssi))
        #foreach($os in $osallistumiset)
            <li>$os.nimi, $os.laskarisuoritukset
            #set ($i=$i+1)
        #end
    #end
    </ul>
    Results: $i

    
    #if($valittuKurssi)
        #set ($osallistumiset = $OsallistuminenKyselyt.osallistumisetKurssilla($valittuKurssi))
        #foreach ($osallistuminen in $osallistumiset)
            <li> $osallistuminen.hetu 
            #foreach ($laskari in $osallistuminen.laskarit)
                $laskari.pisteet, 
            #end
        #end
    #end
    </ul>
#end
</body>
<html>