##Käydään parametreina tulleet opiskelijat läpi ja palautetaan kurssille
#foreach($palautettu in $request.getParameterValues("palautettavat"))
    $OsallistujaMuutokset.palautaKurssille($palautettu, $valittuKurssi, $request)
#end

##Haetaan tietokannasta poistetut opiskelijat.
#set ($poistetut = $OsallistuminenKyselyt.poistetutKurssilta($valittuKurssi,
    $sukuFilter, $ryhmaFilter, $hetuFilter))
    
<form name="palautaOpiskelijat" action="" method="post">
<table id="osallistujatietoTable" class="table table-condensed table-bordered">
    <caption>
        $bundle.getString("opvalittu") $poistetut.size()
    </caption>
    <tr>
        <th> $bundle.getString("isonimi") </th>
        <th> $bundle.getString("camelopnro") </th>
        <th> $bundle.getString("ryhma") </th>
        <th> $bundle.getString("palautaKurssille") </th>
    </tr>

#foreach($poistet in $poistetut)
    <tr>
        <td>
            <a href="mailto:#if($poistet.sahkopostiosoite)$poistet.sahkopostiosoite#end">
                 $poistet.sukunimi, $poistet.etunimi
            </a>
        </td>
        <td>
            <tt>$poistet.hetu</tt>
        </td>
        <td>
           $poistet.ilmo_jnro
        </td>
        <td>
            <input type="checkbox" name="palautettavat" value="${poistet.hetu}_${poistet.ryhma_nro}">
        </td>  
    </tr>
#end
  
    <tr>
        <th colspan="4" class="centerText">
            <input type="submit" class="btn btn-success" value="$bundle.getString("palautaIso")">
        </th>
    </tr>
</table>
</form>

