#parse ("hello.vm")

#if($session.getAttribute('selected_course_id'))
    #set ($valittuKurssi = $KurssiKyselyt.kurssiIDlla($session.getAttribute('selected_course_id')))
    Valittu kurssi: $valittuKurssi.listaString() <br>
    Kurssin osallistujat:
    <ul>  
    #if($valittuKurssi)
        #set ($osallistumiset = $OsallistuminenKyselyt.osallistumisetKurssilla($valittuKurssi))
        #foreach ($osallistuminen in $osallistumiset)
            <li> $osallistuminen.hetu $osallistuminen.nimi: 
            #foreach ($laskari in $osallistuminen.laskarit)
                #if($laskari.pisteet == -1)
                    X,
                #else $laskari.pisteet,
                #end
            #end
        #end
    #end
    </ul>
#end
</body>
<html>