
##Parametreissa tulleet opiskelijat lisätään
#foreach($lisattava in $request.getParameterValues("lisattavat"))
    #if($lisattava && !$lisattava.equals(""))
        $OsallistujaMuutokset.luoUusiOsallistuminen($lisattava, $valittuKurssi, $request)
    #end
#end

##Opiskelijat jotka eivät ole kurssilla
#set($haetut = $OpiskelijaKyselyt.haeOpiskelijat($hetuFilter, $sukuFilter, $valittuKurssi))

##Kysely palauttaa maksimissaan 50, vaikka tuloksia olisi enemmän
#if($haetut.size() == 50)
  $SessioApuri.annaVirhe($request.session,
    $bundle.getString("tarkennaHInfo").concat(" 50 ").concat($bundle.getString("tarkennaHInfo2")))
#end

<form action="" method="post" class="inline" style="margin:0;display:inline;" >
<table class="table table-condensed table-bordered" style="max-width:1000px">
  <caption>
    $bundle.getString("opvalittu") $haetut.size()
  </caption>
  <tr>
    <th> $bundle.getString("nimiSyntpva") </th>
    <th> $bundle.getString("camelopnro") </th>
    <th> $bundle.getString("ilmoitakurssille") </th>
  </tr> 
    
  #foreach($opiskelija in $haetut)
  <tr>
    <td>
      <b><a href="mailto:MAIL">$opiskelija.etunimi, $opiskelija.sukunimi</a></b>
    </td>
    <td>
      <center>$opiskelija.hetu</center>
    </td>
    <td>
      <center>
         <select name="lisattavat" class="form-control form-inline" style="width:150px">
         <option selected value="">Ei kurssilla</option>
         #foreach($ryhma in $ryhmat)
           <option value=${opiskelija.hetu}_${ryhma}>$ryhma</option>
         #end
         </select>
      </center>  
    </td>
  </tr>
  #end

  <tr>
    <th colspan="6">
      <center>
        <input type="submit" class="btn btn-success" value="$bundle.getString("tallenMuutoksetIso")">
      </center>
    </th>
  </tr>
</table>


 </form>    
