##Parametreissa tulleet opiskelijat lisätään
#foreach($lisattava in $request.getParameterValues("lisattavat"))
    #if($lisattava && !$lisattava.equals(""))
        $OsallistujaMuutokset.luoUusiOsallistuminen($lisattava, $valittuKurssi, $request)
    #end
#end

##Opiskelijat jotka eivät ole kurssilla
#set($haetut = $OpiskelijaKyselyt.haeOpiskelijat($hetuFilter, $sukuFilter, $valittuKurssi))

##Kysely palauttaa maksimissaan 50, vaikka tuloksia olisi enemmän
#if($haetut.size() == 50)
    #set($virhe = ${bundle.getString("tarkennaHInfo")}+" 50 "+$bundle.getString("tarkennaHInfo2"))
    $SessioApuri.annaVirhe($request.session,$virhe)
#end

<form name="lisaaOpiskelijat" action="" method="post" >
<table id="osallistujatietoTable" class="table table-condensed table-bordered">
    <caption>
        $bundle.getString("opvalittu") $haetut.size()
    </caption>
    <tr>
        <th> $bundle.getString("isonimi") </th>
        <th> $bundle.getString("camelopnro") </th>
        <th> $bundle.getString("ilmoitakurssille") </th>
    </tr> 

#foreach($opiskelija in $haetut)
    <tr>
        <td>
            <a href="mailto:#if($opiskelija.sahkopostiosoite)$opiskelija.sahkopostiosoite#end">
            $opiskelija.etunimi, $opiskelija.sukunimi
            </a>
        </td>
        <td>
            <tt>$opiskelija.hetu</tt>
        </td>
        <td>
            <select name="lisattavat" class="lisaaRyhmaanSelect form-inline form-control center">
            <option selected value="">$bundle.getString("eiKurssilla")</option>
            #foreach($ryhma in $ryhmat)
                <option value=${opiskelija.hetu}_${ryhma}>$ryhma</option>
            #end
            </select>
        </td>
    </tr>
#end

    <tr>
        <th colspan="3" class="centerText">
            <input type="submit" class="btn btn-success" value="$bundle.getString("tallenMuutoksetIso")">
        </th>
    </tr>
</table>
</form>    
