#parse ("hello.vm")

#if($session.getAttribute('selected_course_id'))
    #set($kur = $KurssiKyselyt.kurssiIDlla($session.getAttribute('selected_course_id')))
    Valittu kurssi: $kur.listaString() <br>
    Kurssin osallistujat: <br>
    <ul>
    #if($kur)
        #set ($i=0)
        #foreach($op in $OpiskelijaKyselyt.kurssinOpiskelijat($kur))
            <li>$op.etunimi $op.sukunimi
            #set ($i=$i+1)
        #end
    #end
    </ul>
    Results: $i
#end
</body>
<html>