#foreach($poistettava in $request.getParameterValues("poistettavat"))
  $OsallistuminenKyselyt.poistaKurssilta($poistettava, $valittuKurssi, $request)
#end

#foreach($grp in $request.getParameterValues("grp"))
  $OsallistuminenKyselyt.vaihdaRyhmaa($grp, $valittuKurssi, $request)
#end

##Osallistumiset
#set($osallistumiset = $OsallistuminenKyselyt.voimassaKurssilla($valittuKurssi))

#if($osallistumiset.size() == 0)
  $bundle.getString("opeivastannut")

#else
<form name=poistaOpiskelijat action="" method=post >
<table class="table table-condensed table-bordered" style="max-width:1000px">
  <caption>
   $bundle.getString("opvalittu") $osallistumiset.size()
  </caption>
  <tr>
    <th> $bundle.getString("nimiSyntpva") </th>
    <th> $bundle.getString("camelopnro") </th>
    <th> $bundle.getString("ryhma") </th>
    <th> $bundle.getString("suor") </th>
    <th> $bundle.getString("poistaKurssilta") </th>
    <th> $bundle.getString("naytaTiedot") </th>
  </tr>


#foreach($osallinen in $osallistumiset)
  #set($opiskelija = $OpiskelijaKyselyt.opiskelijaHetulla($osallinen.hetu))
  <tr>
    <td>
      <b><a href="mailto:">$opiskelija.sukunimi, $opiskelija.etunimi</a></b>
    </td>
    <td>
      <center>
        <tt>$osallinen.hetu</tt>
      </center>
    </td>
    <td>
      <center>
        <select name="grp" class="form-control form-inline" style="width:70px">
        
        #foreach($ryhma in $ryhmat)
          <option 
            #if($osallinen.ilmo_jnro==$ryhma) value="" disabled selected 
            #else value="${osallinen.hetu}_${osallinen.ryhma_nro}_${ryhma}" #end>
            $ryhma</option>
        #end
        </select>
      </center>
    </td>
    <td>
      <center> #if($osallinen.arvosana.equals("+"))X#end</center>
    </td>
    <td>
      <center>
        <input type="checkbox" name="poistettavat" value="${osallinen.hetu}_${osallinen.ryhma_nro}">
      </center>
    </td>
    <td>
      <center>
          <button name="hetuParam" type="submit" class="btn btn-primary" value=$osallinen.hetu>Tiedot</button>
      </center>
    </td>
  </tr>
  #end

  <tr>
    <th colspan="6">
      <center>
        <input type="submit" class="btn btn-success" value="$bundle.getString("tallenMuutoksetIso")">
      </center>
    </th>
  </tr>
</table>

</form>

#end