#if ($valittuKurssi.getTila() == "J")
    #set ($jaassa = true)
#else
    #set ($jaassa = false)
#end

##Osasuoritustyyppien tiedot. Lista jonka alkioina on osasuoritustyypin nimi, 
##lista sen osasuorituksista, ja lyhenne GET-parametria varten
#set($osasuoritusTyypit = [
    ["Laskuharjoitus", $valittuKurssi.laskariRajat, "lh"],
    ["Harjoitustyö", $valittuKurssi.harjoitustyoRajat, "ht"],
    ["Koe", $valittuKurssi.koeRajat, "koe"]
]
)

##Tämä looppi käy läpi kaikki get-parametrit joilla voi vaihtaa kurssin osasuoritusten rajoja
#foreach($rajaTyyppi in $osasuoritusTyypit)
    #set ($rajanNimi = $rajaTyyppi.get(0))
    #set ($rajat = $rajaTyyppi.get(1))
    #set ($lomake_tunnus = $rajaTyyppi.get(2))
    #set($i = 1)
    #foreach($raja in $rajat)
        #set($minParam = "${lomake_tunnus}_${i}_min")
        #set($maxParam = "${lomake_tunnus}_${i}_max")
        #set($min = $request.getParameter($minParam))
        #set($max = $request.getParameter($maxParam))
        #if($min)
            #if($raja.setMin($min))
            <pre>$rajanNimi nro $i:n minimiarvoksi asetettu $min</pre>
            #end
        #end
        #if($max)
            #if($raja.setMax($max))
            <pre>$rajanNimi nro $i:n maksimimiarvoksis asetettu $max</pre>
            #end
        #end
        #set($i = $i+1)
    #end
#end

##Tallennetaan kurssi kantaan
$KurssiKyselyt.tallennaKantaan($valittuKurssi)

<style>
    .minmax {
        display: inline-block;
    }
    .mminput {
        width: 45px;
        text-align: center;
    }
    .index {
        display: inline-block;
        position: relative;
        bottom: 18px;
        left: 2px;
        font-weight: bold;
        width: 20px;
    }
    .minmaxbox {
        display: inline-block;
        padding: 3px;
    }
    .legend {
        background-color: lightgray;
        border: 1px solid gray;
        padding: 10px;
    }
    .legendcontainer {
        width: 100%;
        text-align: center;
    }
</style>

<h1>$bundle.getString("OsasuoritustenPisterajat")</h1>

<div class=section>
<div class="legendcontainer">
    <div class="minmaxbox legend">
        <div class=index>
            #:
        </div>
        <div class=minmax>
                <input class="form-control mminput" style="width: 60px" value=max>
                <input class="form-control mminput" style="width: 60px" value=min>
        </div>
    </div>
</div>
<form name="kurssinPisteet" action="" method=get id="minmaxform">

#foreach($rajaTyyppi in $osasuoritusTyypit)
    
    #set ($i = 1) ##Laskija
    #set ($rajanNimi = $rajaTyyppi.get(0))
    #set ($rajat = $rajaTyyppi.get(1))
    #set ($lomake_tunnus = $rajaTyyppi.get(2))
    #if($rajat.aktiivisia > 0)
        <h3>$rajanNimi:</h3>
        #foreach($raja in $rajat)
           <div class=minmaxbox>
                <div class=index>
                 $i:
                </div>
                <div class=minmax>
                         <input class="form-control mminput" maxlength="2"
                             name="${lomake_tunnus}_${i}_max" 
                             value="$raja.maxString" ##Maksimipisteet
                             onBlur="rangeChecker(this,0,99)"
                             #if($jaassa)readonly#end
                             >
                         <input class="form-control mminput" maxlength="2"
                             name="${lomake_tunnus}_${i}_min" 
                             value="$raja.minString" ##Hyväksymisraja
                             onBlur="rangeChecker(this,0,99)"
                             #if($jaassa)readonly#end
                             >
                </div>
           </div>
        #set($i = $i+1)
        #end
    #end
#end
<br><br>
<input type=submit class="btn" value=$bundle.getString("tmuutokset") onClick="">
</form>
</div>

#parse('bottom.vm')