#*
#if ($selectedCourse.isFrozen())
    $bundle.getString("HY")                                      $bundle.getString("korjauksia")
#else
    $bundle.getString("HY")
#end

$bundle.getString("matlu")
$bundle.getString("cslaitos")

$bundle.getString("opintojakso"): $selected_course.getKurssikoodi(), $selected_course.listaString()
$bundle.getString("laajuus"): $selected_course.getOpintopisteet() $bundle.getString("op") ($selected_course.getOpintoviikot() $bundle.getString("ov"))
$bundle.getString("suoritusaika"): $selected_course.getSuoritus_pvm()
$bundle.getString("hyvaksyja"): $HenkiloKyselyt.haeNimet(selected_course.getOmistaja())

#set ($selectDesc = $selectedCourse.SelectDescription)
#set ($grades = ["1", "2", "3", "4", "5"])
#set ($counter = $selectedCourse.getCounter())
#set ($c = $selectedCourse)
#set ($nl = 25)
#set ($ssnl = 12) 
#set ($failed = "")
#set ($accepted = "$inc_gradename ")

#if ($selectDesc)

$bundle.getString("valitutop"): ${selectDesc}
#end



##
################### OPISKELIJAT ###################
##
#foreach ($student in $students)
#set ($row = "")##--------- Yhden opiskelijan tiedot -----------##
#if ($student.Grade)##---------- Onko osallistunut kurssille --> jos on, niin on myös arvosteltu -----------##
#set ($grade = $student.Grade)
#set ($creditunits =$student.CreditsNew)
#if ($inc_ssn)#set ($row = "$row${c.getStr($student.SSN, $ssnl)} ")#end
#set ($row = "$row${c.getStr($student.Name, $nl)}  ")
#if ($inc_htsep && $partht)#set ($row = "$row${c.getStr($!c.getStrTable($student.getScores(1), ' 0', ' '), $inc_htsepname.length())} ")#end
#if ($inc_koesep && $partkoe)#set ($row = "$row${c.getStr($!c.getStrTable($student.getScores(2), ' 0', ' '), $inc_koesepname.length())} ")#end
#if ($inc_lhsum && $partlh)#set ($row = "$row${c.getStr(${c.getStrTableCell($!student.getScore( $partlh ), '  0')}, $inc_lhsumname.length())} ")#end
#if ($inc_htsum && $partht)#set ($row = "$row${c.getStr(${c.getStrTableCell($!student.getScore( $partht ), '  0')}, $inc_htsumname.length())} ")#end 
#if ($inc_koesum && $partkoe)#set ($row = "$row${c.getStr(${c.getStrTableCell($!student.getScore( $partkoe ), '  0')}, $inc_koesumname.length())} ")#end
#if ($inc_lhlp && $partlh)#set ($row = "$row${c.getStr(${c.getStrTableCell($student.getXtrScore( $partlh ), ' 0')}, $inc_lhlpname.length())} ")#end
#if ($inc_htlp && $partht)#set ($row = "$row${c.getStr(${c.getStrTableCell($student.getXtrScore( $partht ), ' 0')}, $inc_htlpname.length())} ")#end
#if ($inc_sum)#set ($row = "$row${c.getStr(${c.getStrTableCell($!{student.getXtrTotal()}, '  0')}, $inc_sumname.length())} ")#end
#if ($inc_grade && $grade != "0")#set ($row = "$row ${c.getStr(${grade}, $inc_gradename.length())}")#end
#if ($inc_crunits)#set ($row = "$row ${c.getStr(${creditunits},$inc_cruname.length())}")#end
##
##--------- Opiskelija lisätty jäädytyksen jälkeen -----------##
##
#if ($c.isFrozen() && $inc_changes && $student.isNew())
#set ($row = "$row U")
#end
##
##--------- opiskelija läpäissyt kurssin -------------##
##
#if ($grade && $grade != "0")
#set ($acceptcount = $acceptcount + 1)
#set ($foo = $!counter.entry(${grade}))
#if (!$inc_changes || ($inc_changes && !$student.isFrozen()))##-------- Näytetäänkö vain muutokset? ----------##
#set ($accepted = "$accepted${c.nl()}${row}")
#if ($acceptcount % 5 == 0)
#set ($accepted = "$accepted${c.nl()}")
#end
#end
##
##--------- opiskelija hylätty -------------##
##
#else
#set ($failcount = $failcount + 1)
#if (!$inc_changes || ($inc_changes && !$student.isFrozen()))##-------- Näytetäänkö vain muutokset? ----------##
#set ($failed = "$failed${c.nl()}${row}")
#if ($failcount % 5 == 0)
#set ($failed = "$failed${c.nl()}")
#end
#end
#end
#if($student.getValidScoreCount(2) > 0)
#end
#elseif ($student.isDefrost())##--------- POISTETTU? ------##
#if ($inc_ssn)#set ($row = "${row}${c.getStr($student.SSN, $ssnl)} ")#end
#set ($row = "${row}${student.Name}")
#if (!$removed) #set ($removed = "")#end
#set ($removed = "${removed}${c.nl()}${row}")
#end##--if ($student.Grade)
#end##--foreach

$bundle.getString("hyvaksytyt")
$accepted


#set ($participated = ${acceptcount} + ${failcount})
*#

#set ($osallistumisetKurssilla = $OsallistuminenKyselyt.osallistumisetKurssilla($selected_course))
#set ($ilmoittautuneet = $osallistumisetKurssilla.size())
#set ($hyvaksytyt = 0)
#set ($hylatyt = 0)
#set ($osallistuneet = 0)
#set ($kokeessa = 0)
#foreach ($osallistuminen in $osallistumisetKurssilla) 
    #if ($osallistuminen.getArvosana() == 0)
        #set ($hylatyt = $hylatyt + 1)
        #set ($osallistuneet = $osallistuneet + 1)
    #elseif (!$osallistuminen.getArvosana() || $osallistuminen.getArvosana().equals('-'))
    #else
        #set ($hyvaksytyt = $hyvaksytyt + 1)
        #set ($osallistuneet = $osallistuneet +1)
    #end
    #if (!$osallistuminen.getKoepisteet().equals('??,??,??,??,??-??,??,??,??,??-??,??,??,??,??-??,??,??'))
        #set ($kokeessa = $kokeessa +1)
    #end
#end 

$bundle.getString("tilastoja")
$bundle.getString("ilmonneita"): $ilmoittautuneet
$bundle.getString("osallistuneita"): $osallistuneet
$bundle.getString("kokeessa"): $kokeessa
$bundle.getString("hyvaksyttyja"): $hyvaksytyt
#if ($osallistuneet > 0) 
    ($jaadytys.prosenttiLasku($hyvaksytyt, $osallistuneet)% $bundle.getString("osallistuneista")
#end
#if ($kokeessa > 0) 
    ($jaadytys.prosenttiLasku($hyvaksytyt, $kokeessa)% $bundle.getString("kokeessaolleista")
#end
$bundle.getString("hylattyja"): $hylatyt

$bundle.getString("isohylatyt")

#*
$failed

#if ($inc_changes && $removed)


$bundle.getString("isopoistetut")
${removed}
#end
*#

