$bundle.getString("HY")

$bundle.getString("matlu")
$bundle.getString("cslaitos")

#set($loppuindeksi = $kurssi.listaString().length())
#set ($loppuindeksi = $loppuindeksi - 2)
$bundle.getString("opintojakso"): $kurssi.getKurssikoodi(), $kurssi.listaString().substring(0, $loppuindeksi)
$bundle.getString("laajuus"): $kurssi.getOpintopisteet() $bundle.getString("op") ($kurssi.getOpintoviikot() $bundle.getString("ov"))
$bundle.getString("suoritusaika"): $kurssi.getSuoritus_pvm()
$bundle.getString("hyvaksyja"): $HenkiloKyselyt.haeNimet($kurssi.getOmistaja())
#set ($osallistumisetKurssilla = $OsallistuminenKyselyt.osallistumisetKurssilla($kurssi))
#set ($ilmoittautuneet = $osallistumisetKurssilla.size())
#set ($hyvaksytyt = 0)
#set ($hyvaksytytLista = "")
#set ($hylatyt = 0)
#set ($hylatytLista = "")
#set ($poistetutLista = "")
#set ($osallistuneet = 0)
#set ($kokeessa = 0)
#foreach ($osallistuminen in $osallistumisetKurssilla)
    #set ($opiskelijanumero = $osallistuminen.getHetu())
    #set ($opiskelijanNimi = $SQLProseduurit.palautaOpiskelijanNimi($opiskelijanumero))
    #set ($listaAlkio = "$opiskelijanumero $opiskelijanNimi")
    #if ($kurssinTila.equals('J') && !$osallistuminen.getJaassa())
        #set ($listaAlkio = "$listaAlkio U")
    #end
    #if ($osallistuminen.getArvosana() == 0)
        #set ($hylatyt = $hylatyt + 1)
        #set ($osallistuneet = $osallistuneet + 1)
        #if (!$kurssinTila.equals('J') || ($kurssinTila.equals('J') && !$osallistuminen.getJaassa().equals('J')))
            #set ($hylatytLista = "$hylatytLista $listaAlkio ${rivinvaihto}")
        #end
    #elseif (!$osallistuminen.getArvosana() || $osallistuminen.getArvosana().equals('-'))
        #if ($osallistuminen.getJaassa().equals('S'))
            #set ($poistetutLista = "$poistetutLista $listaAlkio ${rivinvaihto}")
        #end
    #else
        #set ($hyvaksytyt = $hyvaksytyt + 1)
        #set ($osallistuneet = $osallistuneet +1)
        #if (!$kurssinTila.equals('J') || ($kurssinTila.equals('J') && !$osallistuminen.getJaassa().equals('J')))
            #set ($hyvaksytytLista = "$hyvaksytytLista $listaAlkio $osallistuminen.getArvosana() ${rivinvaihto}")
        #end
    #end
    #if (!$osallistuminen.getKoepisteet().equals('??,??,??,??,??-??,??,??,??,??-??,??,??,??,??-??,??,??'))
        #set ($kokeessa = $kokeessa +1)
    #end
#end

$bundle.getString("tilastoja")
$bundle.getString("ilmonneita"): $ilmoittautuneet
$bundle.getString("osallistuneita"): $osallistuneet
$bundle.getString("kokeessa"): $kokeessa
$bundle.getString("hyvaksyttyja"): $hyvaksytyt
$bundle.getString("hylattyja"): $hylatyt

#if (!$hyvaksytytLista.equals(''))
    $bundle.getString("hyvaksytyt")
    $hyvaksytytLista
#end
#if (!$hylatytLista.equals(''))
    $bundle.getString("isohylatyt")
    $hylatytLista
#end
#if (!$poistetutLista.equals(''))
    $bundle.getString("isopoistetut")
    $poistetutLista
#end