##lisää tarkistukset onko jäässä!!!!!!!!!!!!!!!
##javascriptit eri tiedostoon ja
##<head>:iin <script language='JavaScript' type='text/javascript' src='tiedostonimi.js'></script>

#set($kurssinOsallistumiset = $OsallistuminenKyselyt.osallistumisetKurssilla($valittuKurssi))
##filterit
#set ($tyyppi = $request.getParameter('type'))
#set ($kerta = $request.getParameter('kerta'))
#set ($ryhma = $request.getParameter('ryhma'))
#set ($opiskelijat = $request.getParameter('opiskelijat'))
#set ($filteroidytOsallistumiset = [])

<h2><b>$tyypit.get($request.getParameter('type'))</h2>
<h3>#if($tyyppi != "arvosana" && $tyyppi != "op" && $tyyppi != "kieli") $bundle.getString("kerta"): $kerta, #end
$bundle.getString("ryhma"): #if ($ryhma != '') $ryhma #else $bundle.getString("kaikki") #end,
$bundle.getString("opiskelijat"): #if ($opiskelijat != '') $opiskelijat #else $bundle.getString("kaikki") #end</b></h3>

##filteröidään opiskelijat annettujen filteröintiparametrien mukaan
#foreach ($o in $kurssinOsallistumiset)
    #set ($lisataanko = false)
    #if($ryhma == "" && $opiskelijat)
        #if ($o.hetu.contains($opiskelijat) || $o.getNimi().toLowerCase().contains($opiskelijat.toLowerCase()))
            #set ($lisataanko = true)
        #end
    #else
        #if ($o.ilmo_jnro == $ryhma && ($o.hetu.contains($opiskelijat) || $o.getNimi().toLowerCase().contains($opiskelijat.toLowerCase())))
            #set ($lisataanko = true)
        #end
    #end
    #if ($lisataanko && $o.voimassa == "K") 
        #set ($var = $filteroidytOsallistumiset.add($o))
    #end
#end

<div>
<p>$bundle.getString("opvalittu") $filteroidytOsallistumiset.size()</p>
<form name="pisteet" action="" method=get class="form-inline">

<input value="$tyyppi" type="hidden" name="type">
<input value="$kerta" type="hidden" name="kerta">
<input value="$ryhma" type="hidden" name="ryhma">
<input value="$opiskelijat" type="hidden" name="opiskelijat">

    <table class="table table-striped table-nonfluid table-condensed">
        <tr>
            <td><b>$bundle.getString("opiskelija")</b></td>
            <td><b>$bundle.getString("ryhma")</b></td>
            <td colspan="3" align="center"><b>$tyypit.get($request.getParameter('type'))</b></td>
        </tr>

        ##määritellään radiobuttonien sallitut arvot
        #if ($tyyppi == 'laskarit')  
            #set ($max = $valittuKurssi.laskariRajat.osa($kerta).max)
            $Valitsin.lisaaArvot("", "+")
            $Valitsin.lisaaVali(0,$max)
        #end

        #if ($tyyppi == 'ht')
            #set ($max = $valittuKurssi.harjoitustyoRajat.osa($kerta).max)
            $Valitsin.lisaaArvot("", "+")
            $Valitsin.lisaaVali(0,$max)
        #end

        #if ($tyyppi == 'koe')
            #set ($max = $valittuKurssi.koeRajat.osa($kerta).max)
            $Valitsin.lisaaArvot("", "+")
            $Valitsin.lisaaVali(0,$max)
        #end

        #if ($tyyppi == 'arvosana')
            #if ($valittuKurssi.arvostellaanko == "E")
                $Valitsin.lisaaArvot("", "-", "+")
            #else
                #set ($max = 5)
                $Valitsin.lisaaArvot("", "-" ,"+")
                $Valitsin.lisaaVali(0,$max)
            #end
        #end

        #if ($tyyppi == 'op')
            #set ($max = $valittuKurssi.opintopisteet)
            $Valitsin.lisaaVali(0,$max)
        #end

        #if ($tyyppi == 'kieli')
            $Valitsin.lisaaArvotListasta($Valitsin.kielet)
        #end

        ##lisätään radiobuttonien sallitut arvot listaan
        #set ($arvot = $Valitsin.sallitut)

        ##lähetetään filteiröidytosallistumiset-sijaan lista opiskelijoista joiden suoritteita on muutettu!
        
        ##suoritusten tarkistus, onko muuttunut? Käsittelee myös muutetut arvot ja tallentaa kantaan
        $Suoritukset.muutosTarkistus($request, $Valitsin, $filteroidytOsallistumiset)

        ##käydään läpi kaikki kurssin osallistumiset ja tulostetaan pistetiedot
        #foreach ($os in $filteroidytOsallistumiset)
            <tr>
                <td>$os.nimi, $os.hetu</td>
                <td>$os.ilmo_jnro</td>

            #if ($tyyppi == 'laskarit')  
                #if($os.laskarit.osa($kerta)) #set ($osasuoritus = $os.laskarit.osa($kerta)) #else #set ($osasuoritus = '') #end
            #end

            #if ($tyyppi == 'ht')
                #if($os.harjoitustyot.osa($kerta)) #set ($osasuoritus = $os.harjoitustyot.osa($kerta)) #else #set ($osasuoritus = '') #end
            #end

            #if ($tyyppi == 'koe')
                #if($os.kokeet.osa($kerta)) #set ($osasuoritus = $os.kokeet.osa($kerta)) #else #set ($osasuoritus = '') #end
            #end

            #if ($tyyppi == 'arvosana')
                #if ($os.arvosana) #set ($osasuoritus = $os.arvosana) #else #set ($osasuoritus = '') #end
            #end

            #if ($tyyppi == 'op')
                #if($os.laajuus_op) #set ($osasuoritus = $os.laajuus_op) #else #set ($osasuoritus = '') #end
            #end

            #if ($tyyppi == 'kieli')
                #if ($os.kielikoodi) #set ($osasuoritus = $os.kielikoodi) #else #set ($osasuoritus = '') #end
            #end

                ##textfield jossa osasuorituksen tms arvo
                <td><input value="$osasuoritus" type="text" class="form-control input-sm"
                        style="width:50px" maxlength="3" name="pisteet${os.hetu}"
                        onblur="
                            if(!check(this.value)) {
                                alert(this.value + ' ei ole hyväksytty arvo.');
                                this.value='${osasuoritus}';
                                this.style.color='black';
                                setChecked('id${os.hetu}', this.value);
                                asteriskiSet('muutettu${os.hetu}', 'hidden');
                            }"
                        onChange="
                            if(this.value != '$osasuoritus') {
                                this.style.color='red';
                                asteriskiSet('muutettu${os.hetu}', 'visible');
                            } else {
                                this.style.color='black';
                                asteriskiSet('muutettu${os.hetu}', 'hidden');
                            };
                            setChecked('id${os.hetu}', this.value)
                        ">
                <input type="text" id="muutettu${os.hetu}" name="valueMuutettu" value="*" style="width:10px;border:0;visibility:hidden;color:red" readonly>
                </td>

                <td>
                ##radiobuttonien tulostus
                #foreach($i in $arvot)
                    #if ($i == $osasuoritus || ($i == $bundle.getString('tyhja')))
                        <input type="radio" name="osat${os.hetu}" #if($i == "") value="" id="id${os.hetu}_" #else value=$i id="id${os.hetu}_$i" #end
                            onChange="pisteet${os.hetu}.value=this.value;
                            pisteet${os.hetu}.style.color='black';
                            asteriskiSet('muutettu${os.hetu}', 'hidden');"
                            checked>$i
                    #else
                        <input type="radio" name="osat${os.hetu}" #if($i == "") value="" id="id${os.hetu}_" #else value=$i id="id${os.hetu}_$i" #end
                            onChange="pisteet${os.hetu}.value=this.value;
                            if(osat${os.hetu}.value != '$osasuoritus') {
                            pisteet${os.hetu}.style.color='red';
                            asteriskiSet('muutettu${os.hetu}', 'visible');
                            }">$i
                    #end
                #end
                </td>

                <td>
                    <input type="button" value="$bundle.getString("peru")" class="btn btn-sm btn-danger"
                    onClick="
                    pisteet${os.hetu}.value='${osasuoritus}';
                    pisteet${os.hetu}.style.color='black';
                    setChecked('id${os.hetu}', '${osasuoritus}');
                    asteriskiSet('muutettu${os.hetu}', 'hidden');">
                </td>

            </tr>
        #end
    </table>

##javascriptit
<script type="text/javascript">
    function asteriskiSet(id, nakyvyys) {
        document.getElementById(id).style.visibility=nakyvyys;
    }

    function check(value) {
        var sallitut = $Valitsin.sallitutJS
        return sallitut.indexOf(value) != -1
    }

    function setChecked(hetu, thisvalue){
        var id = hetu+'_'+thisvalue
        document.getElementById(id).checked = true
    }

window.onbeforeunload = function() {
    #foreach ($os in $filteroidytOsallistumiset)
            var id = 'muutettu${os.hetu}'
            var nakyvyys = document.getElementById(id).style.visibility
            if (nakyvyys == 'visible') {
                return '$bundle.getString("TallenTaiPeru")';
            }
    #end
 }
</script>

<input type=hidden value=pressed name=button>
<input type=submit class="btn" value=$bundle.getString("tmuutokset")>

</form>
</div>
