##Konfiguraation lataus
$Konfiguraatio.lataaKonfiguraatio($request)
##Ensin tarkastetaan että kurssit on ladattu sessiomuuttujaan
$SessioApuri.auta($request)
##Lokalisaatiobundlen asetus
#set($bundle = $Lokalisaatio.bundle($request))
##Parametrit käytettäviksi
##Tähän voi asettaa yleishyödyllistä matskua
#set($valittuKurssi = $session.getAttribute('selected_course'))
<html>

<head>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>KURKI</title>

    <link href="style/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="style/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="style/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="style/main.css" rel="stylesheet">

</head>

<body>
<div id=top>
<div id=headerntools>
    <div id=header>KURKI 2.0</div>
    <div id=toolbar>
        $bundle.getString("kirjautuneena") $request.getRemoteUser()
        <a href="?locale=en"><img src="images/liput/gb.png"></a>
        <a href="?locale=fi"><img src="images/liput/fi.png"></a>
        <a href="logout.vm">Logout</a>
    </div>
</div>

##onsubmit="alert('submit');change(serviceId.options[selectedVal.selectedIndex].value)"

##<form onsubmit="change(document.getElementById('service-field').value)" class="form-inline">

<form action="" method=get id=topform>
    <select id=courseselect name="courseId" onChange="this.form.submit()" class="form-control topselect">
    #if (!$session.getAttribute('selected_course_id'))
            <option value="" selected>-- $bundle.getString("valitseKurssi") --</option>
    #end
    #foreach($k in $session.getAttribute('user_courses'))
        #if($session.getAttribute('selected_course_id') && $session.getAttribute('selected_course_id') == $k.idString())
            #if($k.getTila() == "J")
                <option value=$k.idString() selected>* $k.listaString() Tila:$k.getTila()*</option>
            #else
                <option value=$k.idString() selected>$k.listaString() Tila:$k.getTila()</option>
            #end
        #else
            #if($k.getTila() == "J")
                <option value=$k.idString()>* $k.listaString() Tila:$k.getTila()*</option>
            #else
                <option value=$k.idString()>$k.listaString() Tila:$k.getTila()</option>
            #end
        #end
    #end
    </select>
## $session.setAttribute("selected_service_id", "")
##Lisätään key:ksi sivun osoite
    #set ($services = {"1suoritteidenKirjaus.vm" : $bundle.getString("1entry") ,
                     "2osallistujatiedot.vm" : $bundle.getString("2participants") ,
                     "3kurssinPerustiedot.vm" : $bundle.getString("3coursebasics") ,
                     "4listat.vm" : $bundle.getString("4checklist") ,
                     "5arvostelu.vm" : $bundle.getString("5grades") ,
                     "6tuloslistat.vm" : $bundle.getString("6resultlist") ,
                     "7jaadytys.vm" : $bundle.getString("7freezing")})
##window.location.href=this.value;
#set ($i = 1)
     #if ($session.getAttribute('selected_course'))
         <select id=serviceselect name="serviceId" id="service-field" onChange="window.location.href=this.value+'?serviceId=' + this.value;" class="form-control topselect">
         #if (!$session.getAttribute('selected_service_id'))
            <option value="" selected>-- $bundle.getString("valitsetoiminto") --</option>
         #end
         #foreach ($s in $services.entrySet())
            #if($session.getAttribute('selected_service_id') && $session.getAttribute('selected_service_id') == $s.key)
             <option value=$s.key selected>$i. $s.value</option>
            #else
             <option value=$s.key>$i. $s.value</option>
            #end
         #set ($i = $i+1)
         #end
         </select>
    #end

</form>

</div>
<div id=middle>

<div id=ilmoitus> </div>