$request.setCharacterEncoding("UTF-8")
$response.setCharacterEncoding("UTF-8")
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>KURKI</title>
    <link href="style/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="style/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <style>
        body {
            font-size: 11px;
        }
        .table {
            margin-top: 30px;
            margin-bottom: 30px;
        }
    </style>
</head>
<body>

#parse('tuloslista/otsikko.vm')

#if ($Tuloslistat.hyvaksytyt.active)
    <br>$bundle.getString("hyvaksytyt")<br>
    <table class="table table-bordered table-condensed"  style="font-size: 90%;width: auto">
        <tr>
               #if($Tuloslistat.opiskelijanumero.active)
                <th>$Tuloslistat.opiskelijanumero.otsikko</th>
            #end
            <th>$bundle.getString('tl.nimi')</th>
            #if($Tuloslistat.valikokeet_eriteltyina.active)
                #set($c = $valittuKurssi.valikokeet_lkm )
                <th colspan="$c">$Tuloslistat.valikokeet_eriteltyina.otsikko</th>
            #end
            #if($Tuloslistat.harjoitustyot_eriteltyina.active)
                #set($c = $valittuKurssi.harjoitustyo_lkm )
                <th colspan="$c">$Tuloslistat.harjoitustyot_eriteltyina.otsikko</th>
            #end
            #if($Tuloslistat.kokeet_summa.active)<th>$Tuloslistat.kokeet_summa.otsikko</th>#end                
            #if($Tuloslistat.laskarit_summa.active)<th>$Tuloslistat.laskarit_summa.otsikko</th>#end
            #if($Tuloslistat.harjoitustyot_summa.active)<th>$Tuloslistat.harjoitustyot_summa.otsikko</th>#end
            #if($Tuloslistat.yhteispisteet.active)<th>$Tuloslistat.yhteispisteet.otsikko</th>#end

            #if($Tuloslistat.laskarit_lisapisteet.active)<th>$Tuloslistat.laskarit_lisapisteet.otsikko</th>#end
            #if($Tuloslistat.harjoitustyot_lisapisteet.active)<th>$Tuloslistat.harjoitustyot_lisapisteet.otsikko</th>#end
            #if($Tuloslistat.arvosana.active)<th>$Tuloslistat.arvosana.otsikko</th>#end
            #if($Tuloslistat.opintopisteet.active)<th>$Tuloslistat.opintopisteet.otsikko</th>#end               
            #if($Tuloslistat.kieli.active)<th>$Tuloslistat.kieli.otsikko</th>#end 
        </tr>
        #foreach ($osallistuminen in $osallistumiset)
        <tr>
             #if ($osallistuminen.arvosana == "1"||$osallistuminen.arvosana == "2"||$osallistuminen.arvosana == "3"||$osallistuminen.arvosana == "4"||$osallistuminen.arvosana == "5"||$osallistuminen.arvosana == "+")
                #if($Tuloslistat.opiskelijanumero.active)
                    <td>$osallistuminen.hetu</td>
                #end

                
                <td>$osallistuminen.sukunimi, $osallistuminen.etunimi</td> 
                
                
                #if($Tuloslistat.valikokeet_eriteltyina.active)
                    #if ($valittuKurssi.valikokeet_lkm > 0)                         
                    #foreach ( $i in [1..$valittuKurssi.valikokeet_lkm] )       
                     <td>#if($osallistuminen.kokeet.osa($i) != "")
                        $osallistuminen.kokeet.osa($i)
                        #else
                        0
                        #end</td>
                    #end
                    #end
                #end
                #if($Tuloslistat.harjoitustyot_eriteltyina.active)
                    #if ($valittuKurssi.harjoitustyo_lkm > 0)                         
                    #foreach ( $i in [1..$valittuKurssi.harjoitustyo_lkm] )       
                     <td>#if($osallistuminen.harjoitustyot.osa($i) != "")
                        $osallistuminen.harjoitustyot.osa($i)
                        #else
                        0
                        #end</td>
                    #end
                    #end
                #end
                #if($Tuloslistat.kokeet_summa.active)<td>$osallistuminen.kokeet.getYhteispisteet()</td>#end                
                #if($Tuloslistat.laskarit_summa.active)<td>$osallistuminen.laskarit.getYhteispisteet()</td>#end
                #if($Tuloslistat.harjoitustyot_summa.active)<td>$osallistuminen.harjoitustyot.getYhteispisteet()</td>#end
                #if($Tuloslistat.yhteispisteet.active)
                    #set ($yht = $osallistuminen.laskarihyvitys+$osallistuminen.harjoitustyohyvitys+$osallistuminen.kokeet.getYhteispisteet())
                    <td>$yht</td>
                #end
                #if($Tuloslistat.laskarit_lisapisteet.active)<td>$osallistuminen.laskarihyvitys</td>#end
                #if($Tuloslistat.harjoitustyot_lisapisteet.active)<td>$osallistuminen.harjoitustyohyvitys</td>#end
                #if($Tuloslistat.arvosana.active)<td>$osallistuminen.arvosana</td>#end
                #if($Tuloslistat.opintopisteet.active)<td>$osallistuminen.laajuus_op</td>#end               
                #if($Tuloslistat.kieli.active)<td>#if($osallistuminen.kielikoodi)$osallistuminen.kielikoodi.toUpperCase()#else S #end</td>#end 
             #end
         </tr>
        #end
    </table>
#end

#parse('tuloslista/arvosanajakauma_allekirj.vm')

#if($request.getParameter("inc_statistics") == "on")
    #set ($osallistumisia = 0)
    #set ($arvosteltu = 0)
    #set ($kokeessa = 0)
    #foreach ($osallistuminen in $osallistumiset)
        #if ($osallistuminen.voimassa == "K")
            #set ($osallistumisia = $osallistumisia + 1)
        #end
        #if ($osallistuminen.arvosana == "1"||$osallistuminen.arvosana == "2"||$osallistuminen.arvosana == "3"||$osallistuminen.arvosana == "4"||$osallistuminen.arvosana == "5"||$osallistuminen.arvosana == "+"||$osallistuminen.arvosana == "0")
            #set ($arvosteltu = $arvosteltu + 1)
        #end
         #if ($osallistuminen.koepisteet_summa > 0)         
            #set ($kokeessa = $kokeessa + 1)
        #end
    #end
    $bundle.getString("tilastoja")<br>
    $bundle.getString("ilmonneita"): $osallistumisia<br>
    $bundle.getString("osallistuneita"): $arvosteltu<br>
    $bundle.getString("kokeessa"): $kokeessa<br>
#end

#if ($Tuloslistat.hylatyt.active)
    <p>    
    $bundle.getString("isohylatyt")<br>
    #foreach ($osallistuminen in $osallistumiset)
         #if ($osallistuminen.arvosana == "-"||$osallistuminen.arvosana == "0")
            <br>#if($request.getParameter("inc_ssn") == "on")$osallistuminen.hetu &emsp;#end
            $osallistuminen.sukunimi, $osallistuminen.etunimi #if($request.getParameter("inc_grade") == "on")<td>$osallistuminen.arvosana</td>#end
         #end
    #end
    </p>
#end
</div>
</body>
</html>