##
################### Email ###################
##
${selectedCourse.Label}: $!studentFilterDesc
$bundle.getString("tilanne"): ${sysdate} $bundle.getString("klo"): ${time}

#foreach ($student in $students)
$!{student.EMail}
#end
