<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>KURKI</title>
    <link rel="stylesheet" href="../kurki.css" title="kurki">
    <script language='JavaScript' type='text/javascript' src='../kurki.js'></script>
  </head>
  
  <body>
    <center> 
      <div class="alert alert-danger" style="text-align:center;width=500px" align="center">
<h2> $bundle.getString("synkVirhe")</h2>
<hr>
$bundle.getString("eiVoiSuorittaa")
      <form action="index" method="post">
        <input type="submit" class="btn btn-success" value="OK">
      </form>
      </div>
    </center>
  </body>
</html>
