#Kurssikirjanpitojärjestelmän configuraatio tiedot.
#Tue May 29 16:02:01 GMT+03:00 2001

#Pääylläpitäjän sähköpostiosoite
#Tomcattia ei tarvitse uudelleenkäynnistää
webmaster=tktl-kurk@cs.Helsinki.FI

#Oodi-siirroista vastaavan henkilön sähköpostiosoite
#Tomcattia ei tarvitse uudelleenkäynnistää
#oodi=Reijo.Siven@cs.Helsinki.FI
oodi=taru.airola@helsinki.fi

#Tietokanta
#Tomcattia ei tarvitse uudelleenkäynnistää
dbDriver=oracle.jdbc.OracleDriver
dbServer=jdbc:oracle:thin:@bodbacka.cs.helsinki.fi:1521:test
dbUser=tk_testi
dbPassword=tapaus2
#dbServer=jdbc:oracle:thin:@bodbacka.cs.helsinki.fi:1521:test
#dbUser=heikkiha
#dbPassword=aA03040304

#Niiden henkilöiden käyttäjätunnukset, joilla on oikeus päivittää 
#henkilo-taulun tktl-käyttäjätunnuksia
loginManagers=laine, siven, mkctammi


#Henkilöt, joilla oikeus päivittää kaikkia kursseja
superUsers= siven, laine, mkctammi

#TKTL-verkon /etc/passwd-tiedosto
#passwdFile=/fs/svc/domain/cs-passwd
