#Kurssikirjanpitojärjestelmän configuraatio tiedot.
#Tue May 29 16:02:01 GMT+03:00 2001

#Pääylläpitäjän sähköpostiosoite
#Tomcattia ei tarvitse uudelleenkäynnistää
webmaster=tktl-kurk@cs.Helsinki.FI

#Oodi-siirroista vastaavan henkilön sähköpostiosoite
#Tomcattia ei tarvitse uudelleenkäynnistää
oodi=Reijo.Siven@cs.Helsinki.FI

#Tietokanta
#Tomcattia ei tarvitse uudelleenkäynnistää
dbDriver=oracle.jdbc.OracleDriver
dbServer=jdbc:oracle:thin:@bodbacka.cs.helsinki.fi:1521:test
dbUser=tk_testi
dbPassword=tapaus2

#Niiden henkilöiden käyttäjätunnukset, joilla on oikeus päivittää 
#henkilo-taulun tktl-käyttäjätunnuksia
loginManagers=laine, siven


#Henkilöt, joilla oikeus päivittää kaikkia kursseja
superUsers= siven, laine

#TKTL-verkon /etc/passwd-tiedosto
#passwdFile=/fs/svc/domain/cs-passwd
